<?xml version="1.0"?>
<model>
  <name>r1_rover</name>
  <version>1.0</version>
  <sdf version='1.6'>r1_rover.sdf</sdf>

  <author>
   <name>Qi Yuhua</name>
  </author>

  <description>
    This is a model for the Aion robotics R1 ugv rover. The sdf file is adpated from [aion_io](https://github.com/aionrobotics/aion_io)
  </description>
</model>
