<?xml version="1.0"?>
<model>
  <name>p600_2Dlidar</name>
  <version>1.0</version>
  <sdf version="1.6">p600_2Dlidar.sdf</sdf>

  <author>
   <name>Zhang__Ling</name>
   <email>a1544839693@163.com</email>
  </author>

  <description>
    This is a model of the AMOVLAB P600.
  </description>
</model>
