<launch>
    <include file="$(find prometheus_gazebo)/launch_swarm/sitl_swarm_4uav.launch">
    </include>

	<!-- 无人车阵型 -->
	<node pkg="prometheus_mission" type="turtlebot_formation" name="turtlebot_formation" output="screen" launch-prefix="gnome-terminal --">
	</node>

	<!-- 三种选择：burger, waffle, waffle_pi -->
	<arg name="model" default="waffle"/>
	<arg name="first_tb3"  default="tb3_1"/>
	<arg name="second_tb3" default="tb3_2"/>
	<arg name="third_tb3"  default="tb3_3"/>
	<arg name="fourth_tb3"  default="tb3_4"/>

	<arg name="first_tb3_x_pos" default="2.0"/>
	<arg name="first_tb3_y_pos" default="0.0"/>
	<arg name="first_tb3_z_pos" default=" 0.0"/>
	<arg name="first_tb3_yaw"   default=" 1.57"/>

	<arg name="second_tb3_x_pos" default=" 1.0"/>
	<arg name="second_tb3_y_pos" default=" 0.0"/>
	<arg name="second_tb3_z_pos" default=" 0.0"/>
	<arg name="second_tb3_yaw"   default=" 1.57"/>

	<arg name="third_tb3_x_pos" default=" -1.0"/>
	<arg name="third_tb3_y_pos" default=" 0.0"/>
	<arg name="third_tb3_z_pos" default=" 0.0"/>
	<arg name="third_tb3_yaw"   default=" -1.57"/>

	<arg name="fourth_tb3_x_pos" default=" -2.0"/>
	<arg name="fourth_tb3_y_pos" default=" 0.0"/>
	<arg name="fourth_tb3_z_pos" default=" 0.0"/>
	<arg name="fourth_tb3_yaw"   default=" -1.57"/>

	<group ns = "$(arg first_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg first_tb3)" />
		</node>
		
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg second_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg second_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_tb3) -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg third_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg third_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg third_tb3) -x $(arg third_tb3_x_pos) -y $(arg third_tb3_y_pos) -z $(arg third_tb3_z_pos) -Y $(arg third_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg fourth_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg fourth_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg fourth_tb3) -x $(arg fourth_tb3_x_pos) -y $(arg fourth_tb3_y_pos) -z $(arg fourth_tb3_z_pos) -Y $(arg fourth_tb3_yaw) -param robot_description" />
	</group>
</launch>

    