<launch>
	<!-- Gazebo configs -->
    <arg name="gazebo_enable" default="true"/>
	<arg name="world" default="$(find prometheus_gazebo)/gazebo_worlds/planning_worlds/planning_test3.world"/>
    <!-- 启动Gazebo -->
    <group if="$(arg gazebo_enable)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)"/>
			<arg name="use_sim_time" value="true"/>
        </include>
    </group>
    
    <!--无人机编号-->
    <arg name="uav1_id" default="1"/>
	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="-10.0"/>
    <arg name="uav1_init_y" default="0.0"/>
    <arg name="uav1_init_yaw" default="0.0"/>
	<!-- <arg name="sdf" default="$(find prometheus_gazebo)/gazebo_models/uav_models/p230_planning/p230_planning.sdf"/> -->

	<arg name="sdf" default="$(find prometheus_gazebo)/gazebo_models/uav_models/multi_p230/p230_uav1/p230_uav1.sdf"/>
	
	<!-- 1号无人机 -->
	<include file="$(find prometheus_gazebo)/launch_basic/sitl_px4_indoor.launch">
		<arg name="uav_id" value="$(arg uav1_id)"/>
		<arg name="sdf" value="$(arg sdf)"/>
		<arg name="model" value="p230_uav$(arg uav1_id)"/>
		<arg name="uav_init_x" value="$(arg uav1_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav1_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="$(arg uav1_init_yaw)"/>
	</include>
</launch>
