<!--模型描述文件，描述一些模型的信息-->
<?xml version="1.0"?>  

<model>
  <name>rplidar_s1</name> <!--模型名字-->
  <version>1.0</version><!--版本-->
  <sdf version='1.6'>rplidar_s1.sdf</sdf>  <!--描述模型的SDF文件名-->

<!--作者信息-->
  <author>
   <name>Qi Yuhua</name>
   <email>fatmoonqyp@126.com</email>
  </author>

<!--介绍模型的作用-->
  <description>
    rplidar_s1.sdf
  </description>
</model>

