<launch>
	<!-- 启动仿真环境 -->
	<include file="$(find prometheus_gazebo)/launch_basic/sitl_outdoor_1uav.launch">
		<arg name="world" default="$(find prometheus_gazebo)/gazebo_worlds/detection_worlds/fly_race.world" />
		<arg name="sdf" value="$(find prometheus_gazebo)/gazebo_models/uav_models/p450_fly_race/p450_fly_race.sdf" />
	</include>

	<!-- 启动prometheus控制器 -->
	<include file="$(find prometheus_uav_control)/launch/uav_control_main_outdoor.launch">
		<arg name="launch_prefix" default="bash -c 'gnome-terminal --tab -- $0 $@'" />
	</include>

	<!-- 椭圆识别 -->
    <node pkg="prometheus_detection" type="ellipse_det" name="ellipse_det" output="screen">
        <param name="input_image_topic" type="string" value="/prometheus/sensor/monocular_down/image_raw" />
        <param name="camera_params" type="string" value="$(find prometheus_demo)/advanced/fly_race/conf/calib_sitl.yaml"/>
    </node>

	<!-- gazebo 动目标控制 -->
	<node pkg="prometheus_demo" type="locus.py" name="fly_race_sitle"/>
</launch>