<?xml version="1.0"?>

<model>
  <name>car_landing_pad</name>
  <version>1.0</version>
  <sdf version="1.5">car_landing_pad.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A model of the Polaris Ranger XP900 without roll cage.
  </description>

</model>
