<launch>
    <!-- Launch Gazebo Simulation -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="-10.0"/>
    <arg name="z" default="0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/obstacle.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_3Dlidar/P300_3Dlidar.sdf"/>
	<arg name="model" default="P300_3Dlidar"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>
    
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.05" />
        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="map" />
        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />
        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/prometheus/sensors/3Dlidar_scan" />
    </node>
    
    <!-- 启动Fast Planner -->
    <!-- 参数较多，请耐心阅读文档，并进行调试设置 -->
    <arg name="topic_of_global_pcl" default="/octomap_point_cloud_centers"/>
    <arg name="max_vel" value="1.0" />
    <arg name="max_acc" value="0.5" />
    <arg name="dynamic" value="0" />
    <arg name="pcd_file" value="$(find prometheus_gazebo)/maps/obstacle.pcd" />
    <node pkg="prometheus_plan_manage" name="dyn_planner_node" type="dyn_planner_node" output="screen">
        <remap from="/prometheus/planning/global_pcl" to="$(arg topic_of_global_pcl)" />
        <!-- sdf map updating -->
        <param name="sdf_map/SDF_MODE" value="1" type="int"/>
        <param name="sdf_map/origin_x" value="-20.0" type="double"/>
        <param name="sdf_map/origin_y" value="-20.0" type="double"/>
        <param name="sdf_map/origin_z" value="0.0" type="double"/>
        <param name="sdf_map/map_size_x" value="40.0" type="double"/>
        <param name="sdf_map/map_size_y" value="40.0" type="double"/>
        <param name="sdf_map/map_size_z" value="5.0" type="double"/>
        <param name="sdf_map/resolution_sdf" value="0.2" type="double"/>
        <param name="sdf_map/ceil_height" value="3.5" type="double"/>
        <param name="sdf_map/update_rate" value="2.0" type="double"/>
        <param name="sdf_map/update_range" value="8.0" type="double"/>
        <param name="sdf_map/inflate" value="0.4" type="double"/>
        <param name="sdf_map/radius_ignore" value="0.2" type="double"/>

        <!-- planning fsm , small scene-->
        <param name="fsm/flight_type" value="1" type="int"/>
        <param name="fsm/safety_distance" value="0.01" type="double"/>
        <param name="fsm/thresh_replan" value="1.0" type="double"/>
        <param name="fsm/thresh_no_replan" value="1.0" type="double"/>
        <param name="fsm/wp_num" value="3" type="int"/>
        <param name="fsm/wp0_x" value="-5.5" type="double"/>
        <param name="fsm/wp0_y" value="-4.0" type="double"/>
        <param name="fsm/wp0_z" value="1.0" type="double"/>
        <param name="fsm/wp1_x" value="0.0" type="double"/>
        <param name="fsm/wp1_y" value="-6.0" type="double"/>
        <param name="fsm/wp1_z" value="1.0" type="double"/>
        <param name="fsm/wp2_x" value="2.0" type="double"/>
        <param name="fsm/wp2_y" value="-3.0" type="double"/>
        <param name="fsm/wp2_z" value="0.5" type="double"/>

        <!-- planner manager -->
        <param name="manager/time_sample" value="0.5" type="double"/>
        <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
        <param name="manager/dynamic" value="$(arg dynamic)" type="int"/>
        <param name="manager/margin" value="0.1" type="double"/>
        
        <!-- path searching -->
        <param name="astar/lambda_heu" value="10.0" type="double"/>
        <param name="astar/resolution_astar" value="0.1" type="double"/>
        <param name="astar/time_resolution" value="0.8" type="double"/>
        <param name="astar/margin" value="0.1" type="double"/>
        <param name="astar/allocate_num" value="100000" type="int"/>

        <!-- path searching -->
        <param name="search/max_tau" value="0.8" type="double"/>
        <param name="search/init_max_tau" value="0.8" type="double"/>
        <param name="search/max_vel" value="$(arg max_vel)" type="double"/>
        <param name="search/max_acc" value="$(arg max_acc)" type="double"/>
        <param name="search/w_time" value="15.0" type="double"/>
        <param name="search/horizon" value="7.0" type="double"/>
        <param name="search/lambda_heu" value="10.0" type="double"/>
        <param name="search/resolution_astar" value="0.1" type="double"/>
        <param name="search/time_resolution" value="0.8" type="double"/>
        <param name="search/margin" value="0.4" type="double"/>
        <param name="search/allocate_num" value="100000" type="int"/>
        <param name="search/check_num" value="5" type="int"/>

        <!-- trajectory optimization -->
        <param name="optimization/lamda1" value="10.0" type="double"/>
        <param name="optimization/lamda2" value="0.6" type="double"/>
        <param name="optimization/lamda3" value="0.00001" type="double"/>
        <param name="optimization/lamda4" value="0.001" type="double"/>
        <param name="optimization/dist0" value="0.8" type="double"/>
        <param name="optimization/dist1" value="0.0" type="double"/>
        <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
        <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>

        <param name="optimization/algorithm" value="11" type="int"/>
        <param name="optimization/max_iteration_num" value="20" type="int"/>
        <param name="optimization/order" value="3" type="int"/>

        <param name="bspline/limit_vel" value="$(arg max_vel)" type="double"/>
        <param name="bspline/limit_acc" value="$(arg max_acc)" type="double"/>
        <param name="bspline/limit_ratio" value="1.1" type="double"/>
    </node>

    <!-- trajectory server -->
    <node pkg="prometheus_plan_manage" name="traj_server" type="traj_server" output="log">
    </node>

	<!-- 启动规划mission， 激光输入control_yaw_flag设为false，rgbd输入control_yaw_flag设为true -->
	<node pkg="prometheus_mission" type="planning_mission" name="planning_mission" output="screen" launch-prefix="gnome-terminal --">	
		<param name="planning_mission/control_yaw_flag" value="false" type="bool"/>
	</node>

	<!-- 启动rviz,设为false可关闭 -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/rviz_config/rviz_planning.rviz" />
        <!-- obstacle.world 真实点云 -->
        <node pkg="prometheus_slam" type="pc2_publisher_node" name="pc2_publisher_node" output="screen">	
		    <param name="pcd_path" type="string" value="$(find prometheus_gazebo)/maps/obstacle.pcd" />
	    </node>
    </group>
</launch>

