 <launch>
	<!-- run the laser_to_pointcloud -->
    <node pkg="plan_env" type="laser_to_pointcloud" name="laser_to_pointcloud" >
    </node>

    <!-- 启动octomap建图 -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />
        <!-- 发布地图的坐标系 -->
        <param name="frame_id" type="string" value="world" />
        <!-- 传感器最大感知范围 (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />
        <!-- 局部点云输入 -->
        <remap from="cloud_in" to="/uav1/prometheus/scan_point_cloud" />
    </node>

    <remap from="/octomap_point_cloud_centers" to="/uav1/octomap_point_cloud_centers" />
 </launch> 
