<launch>
  <arg name="uav_id" default="1"/>
  <arg name="map_size_x" default="50.0"/>
  <arg name="map_size_y" default="50.0"/>
  <arg name="map_origin_x" default="-25.0"/>
  <arg name="map_origin_y" default="-25.0"/>
  <arg name="map_size_z" default="1.8"/>
  <arg name="ground_height" default="0.2"/>
  <arg name="odom_topic" default="prometheus/odom" />
  <arg name="yaw_init" default="0.0"/>
  <arg name="flight_type" default="1"/>
  <!-- 预设目标点 -->
  <arg name="target_x" default="10.0"/>
  <arg name="target_y" default="10.0"/>
  <arg name="target_z" default="1.0"/>

	<!-- run the laser_to_pointcloud -->
  <node pkg="plan_env" type="laser_to_pointcloud" name="laser_to_pointcloud" >
  </node>

  <!-- 启动octomap建图 -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <param name="resolution" value="0.1" />
      <!-- 发布地图的坐标系 -->
      <param name="frame_id" type="string" value="world" />
      <!-- 传感器最大感知范围 (speedup!) -->
      <param name="sensor_model/max_range" value="5.0" />
      <!-- 局部点云输入 -->
      <remap from="cloud_in" to="/uav1/prometheus/scan_point_cloud" />
  </node>

  <!-- ego_planner 仿真 -->
  <include file="$(find ego_planner)/launch_for_prometheus/advanced_param.xml">
    <!-- 无人机编号 -->
    <arg name="uav_id" value="$(arg uav_id)"/>
    <!-- 地图尺寸 -->
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="map_origin_x_" value="$(arg map_origin_x)"/>
		<arg name="map_origin_y_" value="$(arg map_origin_y)"/>
    <!-- 可以通过限制ground_height和map_size_z来使得飞机在特定高度飞行 -->
    <arg name="ground_height" value="$(arg ground_height)"/>
    <!-- 里程计话题 -->
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <!-- 相机及深度信息仿真中没有使用，此处可忽略(真机中使用) -->
    <arg name="camera_pose_topic" value="/depth/no_set"/>
    <arg name="depth_topic" value="/depth/image_rect_raw"/>
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>
    <!-- 点云信息，仿真中由map_generator产生 -->
    <arg name="cloud_topic" value="octomap_point_cloud_centers"/>
    <!-- scan -->
    <arg name="scan_topic" value="no_scan"/>
    <!-- 最大速度及加速度 -->
    <arg name="max_vel" value="0.5" />
    <arg name="max_acc" value="0.5" />
    <!-- 规划的范围，一般设置为感知范围的1.5倍 -->
    <arg name="planning_horizon" value="37.5" /> 
    <!-- ？ -->
    <arg name="use_distinctive_trajs" value="true" />
    <!-- 1: use 2D Nav Goal to select goal  -->
    <!-- 2: use global waypoints below  -->
    <!-- 单机建议直接使用rviz指定目标点,多机情况请预设目标点 -->
    <arg name="flight_type" value="1" />
    <!-- global waypoints -->
    <!-- It generates a piecewise min-snap traj passing all waypoints -->
    <arg name="point_num" value="1" />
    <arg name="point0_x" value="$(arg target_x)" />
    <arg name="point0_y" value="$(arg target_y)" />
    <arg name="point0_z" value="$(arg target_z)" />
    <!-- 仿真 -->
    <arg name="realworld_experiment" value="false" />
  </include>

  <!-- trajectory server：由B样条生成轨迹 -->
  <node pkg="ego_planner" name="uav$(arg uav_id)_traj_server_for_prometheus" type="traj_server_for_prometheus" output="screen">
    <param name="uav_id" value="$(arg uav_id)"/>
    <param name="control_flag" value="0"/>
    <param name="traj_server/time_forward" value="1.0"/>
    <param name="traj_server/last_yaw" value="$(arg yaw_init)"/>
  </node>

</launch>
