# compilation and distribution
__pycache__
_ext
*.pyc
*.so
nano.save
.catkin_workspace

build/
devel/
dist/
.vscode/
Modules/object_detection_landing/
Modules/object_detection_persistence/
Modules/object_detection_yolov5openvino/
Modules/object_detection_yolov5tensorrt/
Modules/object_detection_circlex/

# pytorch/python/numpy formats
# *.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models

ORBvoc.txt

