# compilation and distribution
__pycache__
_ext
*.pyc
nano.save
.catkin_workspace

/build/
devel/
dist/
.vscode/
Modules/perception/object_detection_landing/
Modules/perception/object_detection_persistence/
Modules/perception/object_detection_yolov5openvino/
Modules/perception/object_detection_yolov5tensorrt/
Modules/perception/object_detection_circlex/
Modules/data/
Modules/perception/object_detection_oneshot/
Modules/perception/object_detection/py_nodes/yolov5_tensorrt_server/build/
Modules/core/common/CMakeLists.txt
Modules/planning/ego_planner_swarm/CMakeLists.txt
Modules/planning/motion_planning/CMakeLists.txt
Modules/perception/simulator_utils/CMakeLists.txt
Modules/perception/FAST_LIO/Log/mat_pre.txt
# pytorch/python/numpy formats
# *.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models

ORBvoc.txt

