<launch>
	<!-- 环境变量，PX4仿真启动脚本rcS中需要用到 -->
	<env name="PX4_SIM_MODEL" value="solo" />
  	<env name="PX4_ESTIMATOR" value="ekf2_vision" />

	<!-- 启动Gazebo，可选择仿真所用的world -->
  	<arg name="gui" default="true"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/002_SYSU/SYSU_vicon_room.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>

	<!-- 使用group标签来对不同的无人机进行分组，因此，不同无人机的话题会带上前缀，如/uav0、/uav1等 -->
	<!-- 理解仿真的四个模块, 其中1和2为必备模块，3和4可缺省 -->
	<!-- 1、PX4_SITL PX4软件在环仿真模块，即代表飞控，这块代码在Firmware中，注意部分代码与实际飞行相同，部分则是独立的代码 -->
	<!-- 2、simulator 仿真器模块，此处即Gazebo，代码为model文件中的plugin -->
	<!-- 3、Offboard模块 即Mavros -->
	<!-- 4、QGC模块 即地面站--> 

	<!-- 无人机编号（PX4内部参数） 	MAV_SYS_ID = ID + 1 -->
	<!-- 仿真器端口号（用于飞控与Gazebo进行通讯）	 simulator_tcp_port = 4560 + ID （需要再SDF文件中配置对应的参数 mavlink_tcp_port）-->
	<!-- Offboard端口号（用于飞控与Mavros进行通讯） udp_offboard_port_local = 14580 + ID -->
	<!-- Offboard端口号（用于飞控与Mavros进行通讯） udp_offboard_port_remote = 14540 + ID -->
	<!-- 地面站端口号（用于飞控与QGC进行通讯） udp_gcs_port_local = 14570 + ID -->
    <!-- 1号飞机 -->
    <group ns="uav1">
        <!-- 参数配置-->
		<!-- ID编号 -->
        <arg name="ID" value="0"/>
		<!-- 指定sdf文件及模型名字 -->
		<arg name="sdf" default="$(find prometheus_gazebo)/models/MultiUAV/P300_uav1/P300_uav1.sdf"/>
		<arg name="model" default="P300_uav1"/>
		<!-- 初始位置，Yaw为偏航角 -->
		<arg name="x" default="0"/>
		<arg name="y" default="2.5"/>
		<arg name="z" default="0.164"/>
		<arg name="Yaw" default="0"/>
		<!-- Mavros参数 -->
		<arg name="udp_offboard_port_remote" value="$(eval 14540 + arg('ID'))"/>
		<arg name="udp_offboard_port_local" value="$(eval 14580 + arg('ID'))"/>

		<!-- 启动PX4 SITL，此处参数配置不可删除 -->
		<arg name="interactive" default="true"/>
		<arg unless="$(arg interactive)" name="px4_command_arg1" value=""/>
		<arg     if="$(arg interactive)" name="px4_command_arg1" value="-d"/>
		<node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" 
			args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_P300_$(arg ID) $(arg px4_command_arg1)">
		</node>

		<!-- 启动Gazebo模型 -->
		<node name="P300_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" 
			args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Yaw)">
		</node>

		<!-- 启动MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
			<param name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
			<param name="gcs_url" value="" />
			<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
			<param name="target_component_id" value="1" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_config.yaml" />
		</node>
    </group>


    <!-- 2号飞机 -->
    <group ns="uav2">
        <!-- 参数配置-->
		<!-- ID编号 -->
        <arg name="ID" value="1"/>
		<!-- 指定sdf文件及模型名字 -->
		<arg name="sdf" default="$(find prometheus_gazebo)/models/MultiUAV/P300_uav2/P300_uav2.sdf"/>
		<arg name="model" default="P300_uav2"/>
		<!-- 初始位置，Yaw为偏航角 -->
		<arg name="x" default="0"/>
		<arg name="y" default="0.5"/>
		<arg name="z" default="0.164"/>
		<arg name="Yaw" default="0"/>
		<!-- Mavros参数 -->
		<arg name="udp_offboard_port_remote" value="$(eval 14540 + arg('ID'))"/>
		<arg name="udp_offboard_port_local" value="$(eval 14580 + arg('ID'))"/>

		<!-- 启动PX4 SITL，此处参数配置不可删除 -->
		<arg name="interactive" default="true"/>
		<arg unless="$(arg interactive)" name="px4_command_arg1" value=""/>
		<arg     if="$(arg interactive)" name="px4_command_arg1" value="-d"/>
		<node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" 
			args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_P300_$(arg ID) $(arg px4_command_arg1)">
		</node>

		<!-- 启动Gazebo模型 -->
		<node name="P300_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" 
			args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Yaw)">
		</node>

		<!-- 启动MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
			<param name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
			<param name="gcs_url" value="" />
			<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
			<param name="target_component_id" value="1" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_config.yaml" />
		</node>
    </group>

    <!-- 3号飞机 -->
    <group ns="uav3">
        <!-- 参数配置-->
		<!-- ID编号 -->
        <arg name="ID" value="2"/>
		<!-- 指定sdf文件及模型名字 -->
		<arg name="sdf" default="$(find prometheus_gazebo)/models/MultiUAV/P300_uav3/P300_uav3.sdf"/>
		<arg name="model" default="P300_uav3"/>
		<!-- 初始位置，Yaw为偏航角 -->
		<arg name="x" default="0"/>
		<arg name="y" default="-1.5"/>
		<arg name="z" default="0.164"/>
		<arg name="Yaw" default="0"/>
		<!-- Mavros参数 -->
		<arg name="udp_offboard_port_remote" value="$(eval 14540 + arg('ID'))"/>
		<arg name="udp_offboard_port_local" value="$(eval 14580 + arg('ID'))"/>

		<!-- 启动PX4 SITL，此处参数配置不可删除 -->
		<arg name="interactive" default="true"/>
		<arg unless="$(arg interactive)" name="px4_command_arg1" value=""/>
		<arg     if="$(arg interactive)" name="px4_command_arg1" value="-d"/>
		<node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" 
			args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_P300_$(arg ID) $(arg px4_command_arg1)">
		</node>

		<!-- 启动Gazebo模型 -->
		<node name="P300_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" 
			args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Yaw)">
		</node>

		<!-- 启动MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
			<param name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
			<param name="gcs_url" value="" />
			<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
			<param name="target_component_id" value="1" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_config.yaml" />
		</node>
    </group>

    <!-- 4号飞机 -->
    <group ns="uav4">
        <!-- 参数配置-->
		<!-- ID编号 -->
        <arg name="ID" value="3"/>
		<!-- 指定sdf文件及模型名字 -->
		<arg name="sdf" default="$(find prometheus_gazebo)/models/MultiUAV/P300_uav4/P300_uav4.sdf"/>
		<arg name="model" default="P300_uav4"/>
		<!-- 初始位置，Yaw为偏航角 -->
		<arg name="x" default="0"/>
		<arg name="y" default="-2.5"/>
		<arg name="z" default="0.164"/>
		<arg name="Yaw" default="0"/>
		<!-- Mavros参数 -->
		<arg name="udp_offboard_port_remote" value="$(eval 14540 + arg('ID'))"/>
		<arg name="udp_offboard_port_local" value="$(eval 14580 + arg('ID'))"/>

		<!-- 启动PX4 SITL，此处参数配置不可删除 -->
		<arg name="interactive" default="true"/>
		<arg unless="$(arg interactive)" name="px4_command_arg1" value=""/>
		<arg     if="$(arg interactive)" name="px4_command_arg1" value="-d"/>
		<node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" 
			args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_P300_$(arg ID) $(arg px4_command_arg1)">
		</node>

		<!-- 启动Gazebo模型 -->
		<node name="P300_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" 
			args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Yaw)">
		</node>

		<!-- 启动MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
			<param name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
			<param name="gcs_url" value="" />
			<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
			<param name="target_component_id" value="1" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find prometheus_gazebo)/config/mavros_config/px4_config.yaml" />
		</node>
    </group>



	<!-- 三种选择：burger, waffle, waffle_pi -->
	<arg name="model" default="waffle"/>
	<arg name="first_tb3"  default="tb3_1"/>
	<arg name="second_tb3" default="tb3_2"/>
	<arg name="third_tb3"  default="tb3_3"/>
	<arg name="fourth_tb3"  default="tb3_4"/>

	<arg name="first_tb3_x_pos" default="2.0"/>
	<arg name="first_tb3_y_pos" default="0.0"/>
	<arg name="first_tb3_z_pos" default=" 0.0"/>
	<arg name="first_tb3_yaw"   default=" 1.57"/>

	<arg name="second_tb3_x_pos" default=" 1.0"/>
	<arg name="second_tb3_y_pos" default=" 0.0"/>
	<arg name="second_tb3_z_pos" default=" 0.0"/>
	<arg name="second_tb3_yaw"   default=" 1.57"/>

	<arg name="third_tb3_x_pos" default=" -1.0"/>
	<arg name="third_tb3_y_pos" default=" 0.0"/>
	<arg name="third_tb3_z_pos" default=" 0.0"/>
	<arg name="third_tb3_yaw"   default=" -1.57"/>

	<arg name="fourth_tb3_x_pos" default=" -2.0"/>
	<arg name="fourth_tb3_y_pos" default=" 0.0"/>
	<arg name="fourth_tb3_z_pos" default=" 0.0"/>
	<arg name="fourth_tb3_yaw"   default=" -1.57"/>

	<group ns = "$(arg first_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg first_tb3)" />
		</node>
		
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg second_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg second_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_tb3) -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg third_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg third_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg third_tb3) -x $(arg third_tb3_x_pos) -y $(arg third_tb3_y_pos) -z $(arg third_tb3_z_pos) -Y $(arg third_tb3_yaw) -param robot_description" />
	</group>

	<group ns = "$(arg fourth_tb3)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find prometheus_gazebo)/turtlebot3_model/urdf/turtlebot3_$(arg model).urdf.xacro" />

		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="$(arg fourth_tb3)" />
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg fourth_tb3) -x $(arg fourth_tb3_x_pos) -y $(arg fourth_tb3_y_pos) -z $(arg fourth_tb3_z_pos) -Y $(arg fourth_tb3_yaw) -param robot_description" />
	</group>
</launch>

    