<!-- Case 1 -->
<launch>
	<!-- 无人机集群数量 -->
	<arg name="swarm_num" default="40"/>
	<!-- 无人机名称 -->
	<arg name="uav1_name" default="/uav1"/>
	<arg name="uav2_name" default="/uav2"/>
	<arg name="uav3_name" default="/uav3"/>
	<arg name="uav4_name" default="/uav4"/>
	<arg name="uav5_name" default="/uav5"/>
	<arg name="uav6_name" default="/uav6"/>
	<arg name="uav7_name" default="/uav7"/>
	<arg name="uav8_name" default="/uav8"/>
	<arg name="uav9_name" default="/uav9"/>
	<arg name="uav10_name" default="/uav10"/>
	<arg name="uav11_name" default="/uav11"/>
	<arg name="uav12_name" default="/uav12"/>
	<arg name="uav13_name" default="/uav13"/>
	<arg name="uav14_name" default="/uav14"/>
	<arg name="uav15_name" default="/uav15"/>
	<arg name="uav16_name" default="/uav16"/>
	<arg name="uav17_name" default="/uav17"/>
	<arg name="uav18_name" default="/uav18"/>
	<arg name="uav19_name" default="/uav19"/>
	<arg name="uav20_name" default="/uav20"/>
	<arg name="uav21_name" default="/uav21"/>
	<arg name="uav22_name" default="/uav22"/>
	<arg name="uav23_name" default="/uav23"/>
	<arg name="uav24_name" default="/uav24"/>
	<arg name="uav25_name" default="/uav25"/>
	<arg name="uav26_name" default="/uav26"/>
	<arg name="uav27_name" default="/uav27"/>
	<arg name="uav28_name" default="/uav28"/>
	<arg name="uav29_name" default="/uav29"/>
	<arg name="uav30_name" default="/uav30"/>
	<arg name="uav31_name" default="/uav31"/>
	<arg name="uav32_name" default="/uav32"/>
	<arg name="uav33_name" default="/uav33"/>
	<arg name="uav34_name" default="/uav34"/>
	<arg name="uav35_name" default="/uav35"/>
	<arg name="uav36_name" default="/uav36"/>
	<arg name="uav37_name" default="/uav37"/>
	<arg name="uav38_name" default="/uav38"/>
	<arg name="uav39_name" default="/uav39"/>
	<arg name="uav40_name" default="/uav40"/>

	<!-- 无人机ID -->
	<arg name="uav1_id" default="1"/>
	<arg name="uav2_id" default="2"/>
	<arg name="uav3_id" default="3"/>
	<arg name="uav4_id" default="4"/>
	<arg name="uav5_id" default="5"/>
	<arg name="uav6_id" default="6"/>
	<arg name="uav7_id" default="7"/>
	<arg name="uav8_id" default="8"/>
	<arg name="uav9_id" default="9"/>
	<arg name="uav10_id" default="10"/>
	<arg name="uav11_id" default="11"/>
	<arg name="uav12_id" default="12"/>
	<arg name="uav13_id" default="13"/>
	<arg name="uav14_id" default="14"/>
	<arg name="uav15_id" default="15"/>
	<arg name="uav16_id" default="16"/>
	<arg name="uav17_id" default="17"/>
	<arg name="uav18_id" default="18"/>
	<arg name="uav19_id" default="19"/>
	<arg name="uav20_id" default="20"/>
	<arg name="uav21_id" default="21"/>
	<arg name="uav22_id" default="22"/>
	<arg name="uav23_id" default="23"/>
	<arg name="uav24_id" default="24"/>
	<arg name="uav25_id" default="25"/>
	<arg name="uav26_id" default="26"/>
	<arg name="uav27_id" default="27"/>
	<arg name="uav28_id" default="28"/>
	<arg name="uav29_id" default="29"/>
	<arg name="uav30_id" default="30"/>
	<arg name="uav31_id" default="31"/>
	<arg name="uav32_id" default="32"/>
	<arg name="uav33_id" default="33"/>
	<arg name="uav34_id" default="34"/>
	<arg name="uav35_id" default="35"/>
	<arg name="uav36_id" default="36"/>
	<arg name="uav37_id" default="37"/>
	<arg name="uav38_id" default="38"/>
	<arg name="uav39_id" default="39"/>
	<arg name="uav40_id" default="40"/>

	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="0.5"/>
    <arg name="uav1_init_y" default="0.0"/>
    <arg name="uav2_init_x" default="-0.5"/>
    <arg name="uav2_init_y" default="0.0"/>
    <arg name="uav3_init_x" default="1.5"/>
    <arg name="uav3_init_y" default="0.0"/>
    <arg name="uav4_init_x" default="-1.5"/>
    <arg name="uav4_init_y" default="0.0"/>
    <arg name="uav5_init_x" default="2.5"/>
    <arg name="uav5_init_y" default="0.0"/>
	<arg name="uav6_init_x" default="-2.5"/>
    <arg name="uav6_init_y" default="0.0"/>
	<arg name="uav7_init_x" default="3.5"/>
    <arg name="uav7_init_y" default="0.0"/>
	<arg name="uav8_init_x" default="-3.5"/>
    <arg name="uav8_init_y" default="0.0"/>
	<arg name="uav9_init_x" default="4.5"/>
    <arg name="uav9_init_y" default="0.0"/>
	<arg name="uav10_init_x" default="-4.5"/>
    <arg name="uav10_init_y" default="0.0"/>
	<arg name="uav11_init_x" default="5.5"/>
    <arg name="uav11_init_y" default="0.0"/>
    <arg name="uav12_init_x" default="-5.5"/>
    <arg name="uav12_init_y" default="0.0"/>
    <arg name="uav13_init_x" default="6.5"/>
    <arg name="uav13_init_y" default="0.0"/>
    <arg name="uav14_init_x" default="-6.5"/>
    <arg name="uav14_init_y" default="0.0"/>
    <arg name="uav15_init_x" default="7.5"/>
    <arg name="uav15_init_y" default="0.0"/>
	<arg name="uav16_init_x" default="-7.5"/>
    <arg name="uav16_init_y" default="0.0"/>
	<arg name="uav17_init_x" default="8.5"/>
    <arg name="uav17_init_y" default="0.0"/>
	<arg name="uav18_init_x" default="-8.5"/>
    <arg name="uav18_init_y" default="0.0"/>
	<arg name="uav19_init_x" default="9.5"/>
    <arg name="uav19_init_y" default="0.0"/>
	<arg name="uav20_init_x" default="-9.5"/>
    <arg name="uav20_init_y" default="0.0"/>
	<arg name="uav21_init_x" default="10.5"/>
    <arg name="uav21_init_y" default="0.0"/>
    <arg name="uav22_init_x" default="-10.5"/>
    <arg name="uav22_init_y" default="0.0"/>
    <arg name="uav23_init_x" default="11.5"/>
    <arg name="uav23_init_y" default="0.0"/>
    <arg name="uav24_init_x" default="-11.5"/>
    <arg name="uav24_init_y" default="0.0"/>
    <arg name="uav25_init_x" default="12.5"/>
    <arg name="uav25_init_y" default="0.0"/>
	<arg name="uav26_init_x" default="-12.5"/>
    <arg name="uav26_init_y" default="0.0"/>
	<arg name="uav27_init_x" default="13.5"/>
    <arg name="uav27_init_y" default="0.0"/>
	<arg name="uav28_init_x" default="-13.5"/>
    <arg name="uav28_init_y" default="0.0"/>
	<arg name="uav29_init_x" default="14.5"/>
    <arg name="uav29_init_y" default="0.0"/>
	<arg name="uav30_init_x" default="-14.5"/>
    <arg name="uav30_init_y" default="0.0"/>
	<arg name="uav31_init_x" default="15.5"/>
    <arg name="uav31_init_y" default="0.0"/>
    <arg name="uav32_init_x" default="-15.5"/>
    <arg name="uav32_init_y" default="0.0"/>
    <arg name="uav33_init_x" default="16.5"/>
    <arg name="uav33_init_y" default="0.0"/>
    <arg name="uav34_init_x" default="-16.5"/>
    <arg name="uav34_init_y" default="0.0"/>
    <arg name="uav35_init_x" default="17.5"/>
    <arg name="uav35_init_y" default="0.0"/>
	<arg name="uav36_init_x" default="-17.5"/>
    <arg name="uav36_init_y" default="0.0"/>
	<arg name="uav37_init_x" default="18.5"/>
    <arg name="uav37_init_y" default="0.0"/>
	<arg name="uav38_init_x" default="-18.5"/>
    <arg name="uav38_init_y" default="0.0"/>
	<arg name="uav39_init_x" default="19.5"/>
    <arg name="uav39_init_y" default="0.0"/>
	<arg name="uav40_init_x" default="-19.5"/>
    <arg name="uav40_init_y" default="0.0"/>
	
	<!-- swarm_estimator 参数 -->
	<arg name="input_source" default="2"/>
	<!-- swarm_controller 参数 -->
	<arg name="Takeoff_height" default="1.0"/>
	<arg name="Disarm_height" default="0.2"/>
	<arg name="Land_speed" default="0.2"/>
	<!-- 地理围栏 -->
	<arg name="x_min" default="-45"/>
	<arg name="x_max" default="45"/>
	<arg name="y_min" default="-25"/>
	<arg name="y_max" default="25"/>
	<arg name="z_min" default="-1.0"/>
	<arg name="z_max" default="3.5"/>

	<!-- 启动顺序 -->
	<!-- 启动SITL,并加载模型 -->
	<!-- 启动 swarm_estimator -->
	<!-- 启动 swarm_controller -->
	<!-- 启动 地面站 -->
	<!-- 启动 阵型变化程序 -->
	<!-- 启动 Gazebo -->

    <!-- 1号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav1_name)"/>
		<arg name="uav_id" value="$(arg uav1_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav1/uav1.sdf"/>
		<arg name="model" value="uav1"/>
		<arg name="uav_init_x" value="$(arg uav1_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav1_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 2号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav2_name)"/>
		<arg name="uav_id" value="$(arg uav2_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav2/uav2.sdf"/>
		<arg name="model" value="uav2"/>
		<arg name="uav_init_x" value="$(arg uav2_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav2_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 3号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav3_name)"/>
		<arg name="uav_id" value="$(arg uav3_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav3/uav3.sdf"/>
		<arg name="model" value="uav3"/>
		<arg name="uav_init_x" value="$(arg uav3_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav3_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 4号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav4_name)"/>
		<arg name="uav_id" value="$(arg uav4_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav4/uav4.sdf"/>
		<arg name="model" value="uav4"/>
		<arg name="uav_init_x" value="$(arg uav4_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav4_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 5号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav5_name)"/>
		<arg name="uav_id" value="$(arg uav5_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav5/uav5.sdf"/>
		<arg name="model" value="uav5"/>
		<arg name="uav_init_x" value="$(arg uav5_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav5_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 6号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav6_name)"/>
		<arg name="uav_id" value="$(arg uav6_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav6/uav6.sdf"/>
		<arg name="model" value="uav6"/>
		<arg name="uav_init_x" value="$(arg uav6_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav6_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 7号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav7_name)"/>
		<arg name="uav_id" value="$(arg uav7_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav7/uav7.sdf"/>
		<arg name="model" value="uav7"/>
		<arg name="uav_init_x" value="$(arg uav7_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav7_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

    <!-- 8号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav8_name)"/>
		<arg name="uav_id" value="$(arg uav8_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav8/uav8.sdf"/>
		<arg name="model" value="uav8"/>
		<arg name="uav_init_x" value="$(arg uav8_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav8_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 8号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav9_name)"/>
		<arg name="uav_id" value="$(arg uav9_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav9/uav9.sdf"/>
		<arg name="model" value="uav9"/>
		<arg name="uav_init_x" value="$(arg uav9_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav9_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 10号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav10_name)"/>
		<arg name="uav_id" value="$(arg uav10_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav10/uav10.sdf"/>
		<arg name="model" value="uav10"/>
		<arg name="uav_init_x" value="$(arg uav10_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav10_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- run the swarm_estimator.cpp -->
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav1" output="screen">
		<param name="uav_name" value="$(arg uav1_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav2" output="screen">
		<param name="uav_name" value="$(arg uav2_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav3" output="screen">
		<param name="uav_name" value="$(arg uav3_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav4" output="screen">
		<param name="uav_name" value="$(arg uav4_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav5" output="screen">
		<param name="uav_name" value="$(arg uav5_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav6" output="screen">
		<param name="uav_name" value="$(arg uav6_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav7" output="screen">
		<param name="uav_name" value="$(arg uav7_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav8" output="screen">
		<param name="uav_name" value="$(arg uav8_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav9" output="screen">
		<param name="uav_name" value="$(arg uav9_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav10" output="screen">
		<param name="uav_name" value="$(arg uav10_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>

	<!-- 启动swarm_controller -->
	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav1" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav1_id)"/>
		<param name="uav_name" value="$(arg uav1_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav2" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav2_id)"/>
		<param name="uav_name" value="$(arg uav2_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav3" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav3_id)"/>
		<param name="uav_name" value="$(arg uav3_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav4" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav4_id)"/>
		<param name="uav_name" value="$(arg uav4_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav5" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav5_id)"/>
		<param name="uav_name" value="$(arg uav5_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav6" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav6_id)"/>
		<param name="uav_name" value="$(arg uav6_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav7" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav7_id)"/>
		<param name="uav_name" value="$(arg uav7_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav8" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav8_id)"/>
		<param name="uav_name" value="$(arg uav8_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav9" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav9_id)"/>
		<param name="uav_name" value="$(arg uav9_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav10" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav10_id)"/>
		<param name="uav_name" value="$(arg uav10_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<!-- 启动地面站 -->
	<node pkg="prometheus_swarm_control" type="swarm_ground_station" name="swarm_ground_station" output="screen" launch-prefix="gnome-terminal --tab --">	
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="flag_ros2groundstation" value="false"/>
		<param name="uav1_name" value="$(arg uav1_name)" />
		<param name="uav2_name" value="$(arg uav2_name)" />
		<param name="uav3_name" value="$(arg uav3_name)" />
		<param name="uav4_name" value="$(arg uav4_name)" />
		<param name="uav5_name" value="$(arg uav5_name)" />
		<param name="uav6_name" value="$(arg uav6_name)" />
		<param name="uav7_name" value="$(arg uav7_name)" />
		<param name="uav8_name" value="$(arg uav8_name)" />
		<param name="uav9_name" value="$(arg uav9_name)" />
		<param name="uav10_name" value="$(arg uav10_name)" />
		<param name="uav11_name" value="$(arg uav11_name)" />
		<param name="uav12_name" value="$(arg uav12_name)" />
		<param name="uav13_name" value="$(arg uav13_name)" />
		<param name="uav14_name" value="$(arg uav14_name)" />
		<param name="uav15_name" value="$(arg uav15_name)" />
		<param name="uav16_name" value="$(arg uav16_name)" />
		<param name="uav17_name" value="$(arg uav17_name)" />
		<param name="uav18_name" value="$(arg uav18_name)" />
		<param name="uav19_name" value="$(arg uav19_name)" />
		<param name="uav20_name" value="$(arg uav20_name)" />
		<param name="uav21_name" value="$(arg uav21_name)" />
		<param name="uav22_name" value="$(arg uav22_name)" />
		<param name="uav23_name" value="$(arg uav23_name)" />
		<param name="uav24_name" value="$(arg uav24_name)" />
		<param name="uav25_name" value="$(arg uav25_name)" />
		<param name="uav26_name" value="$(arg uav26_name)" />
		<param name="uav27_name" value="$(arg uav27_name)" />
		<param name="uav28_name" value="$(arg uav28_name)" />
		<param name="uav29_name" value="$(arg uav29_name)" />
		<param name="uav30_name" value="$(arg uav30_name)" />
		<param name="uav31_name" value="$(arg uav31_name)" />
		<param name="uav32_name" value="$(arg uav32_name)" />
		<param name="uav33_name" value="$(arg uav33_name)" />
		<param name="uav34_name" value="$(arg uav34_name)" />
		<param name="uav35_name" value="$(arg uav35_name)" />
		<param name="uav36_name" value="$(arg uav36_name)" />
		<param name="uav37_name" value="$(arg uav37_name)" />
		<param name="uav38_name" value="$(arg uav38_name)" />
		<param name="uav39_name" value="$(arg uav39_name)" />
		<param name="uav40_name" value="$(arg uav40_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
		<param name="uav2_id" value="$(arg uav2_id)" />
		<param name="uav3_id" value="$(arg uav3_id)" />
		<param name="uav4_id" value="$(arg uav4_id)" />
		<param name="uav5_id" value="$(arg uav5_id)" />
		<param name="uav6_id" value="$(arg uav6_id)" />
		<param name="uav7_id" value="$(arg uav7_id)" />
		<param name="uav8_id" value="$(arg uav8_id)" />
		<param name="uav9_id" value="$(arg uav9_id)" />
		<param name="uav10_id" value="$(arg uav10_id)" />
		<param name="uav11_id" value="$(arg uav11_id)" />
		<param name="uav12_id" value="$(arg uav12_id)" />
		<param name="uav13_id" value="$(arg uav13_id)" />
		<param name="uav14_id" value="$(arg uav14_id)" />
		<param name="uav15_id" value="$(arg uav15_id)" />
		<param name="uav16_id" value="$(arg uav16_id)" />
		<param name="uav17_id" value="$(arg uav17_id)" />
		<param name="uav18_id" value="$(arg uav18_id)" />
		<param name="uav19_id" value="$(arg uav19_id)" />
		<param name="uav20_id" value="$(arg uav20_id)" />
		<param name="uav21_id" value="$(arg uav21_id)" />
		<param name="uav22_id" value="$(arg uav22_id)" />
		<param name="uav23_id" value="$(arg uav23_id)" />
		<param name="uav24_id" value="$(arg uav24_id)" />
		<param name="uav25_id" value="$(arg uav25_id)" />
		<param name="uav26_id" value="$(arg uav26_id)" />
		<param name="uav27_id" value="$(arg uav27_id)" />
		<param name="uav28_id" value="$(arg uav28_id)" />
		<param name="uav29_id" value="$(arg uav29_id)" />
		<param name="uav30_id" value="$(arg uav30_id)" />
		<param name="uav31_id" value="$(arg uav31_id)" />
		<param name="uav32_id" value="$(arg uav32_id)" />
		<param name="uav33_id" value="$(arg uav33_id)" />
		<param name="uav34_id" value="$(arg uav34_id)" />
		<param name="uav35_id" value="$(arg uav35_id)" />
		<param name="uav36_id" value="$(arg uav36_id)" />
		<param name="uav37_id" value="$(arg uav37_id)" />
		<param name="uav38_id" value="$(arg uav38_id)" />
		<param name="uav39_id" value="$(arg uav39_id)" />
		<param name="uav40_id" value="$(arg uav40_id)" />
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_ground_station_msg" name="swarm_ground_station_msg" output="screen" launch-prefix="gnome-terminal --tab --">	
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="flag_ros2groundstation" value="false"/>
		<param name="uav1_name" value="$(arg uav1_name)" />
		<param name="uav2_name" value="$(arg uav2_name)" />
		<param name="uav3_name" value="$(arg uav3_name)" />
		<param name="uav4_name" value="$(arg uav4_name)" />
		<param name="uav5_name" value="$(arg uav5_name)" />
		<param name="uav6_name" value="$(arg uav6_name)" />
		<param name="uav7_name" value="$(arg uav7_name)" />
		<param name="uav8_name" value="$(arg uav8_name)" />
		<param name="uav9_name" value="$(arg uav9_name)" />
		<param name="uav10_name" value="$(arg uav10_name)" />
		<param name="uav11_name" value="$(arg uav11_name)" />
		<param name="uav12_name" value="$(arg uav12_name)" />
		<param name="uav13_name" value="$(arg uav13_name)" />
		<param name="uav14_name" value="$(arg uav14_name)" />
		<param name="uav15_name" value="$(arg uav15_name)" />
		<param name="uav16_name" value="$(arg uav16_name)" />
		<param name="uav17_name" value="$(arg uav17_name)" />
		<param name="uav18_name" value="$(arg uav18_name)" />
		<param name="uav19_name" value="$(arg uav19_name)" />
		<param name="uav20_name" value="$(arg uav20_name)" />
		<param name="uav21_name" value="$(arg uav21_name)" />
		<param name="uav22_name" value="$(arg uav22_name)" />
		<param name="uav23_name" value="$(arg uav23_name)" />
		<param name="uav24_name" value="$(arg uav24_name)" />
		<param name="uav25_name" value="$(arg uav25_name)" />
		<param name="uav26_name" value="$(arg uav26_name)" />
		<param name="uav27_name" value="$(arg uav27_name)" />
		<param name="uav28_name" value="$(arg uav28_name)" />
		<param name="uav29_name" value="$(arg uav29_name)" />
		<param name="uav30_name" value="$(arg uav30_name)" />
		<param name="uav31_name" value="$(arg uav31_name)" />
		<param name="uav32_name" value="$(arg uav32_name)" />
		<param name="uav33_name" value="$(arg uav33_name)" />
		<param name="uav34_name" value="$(arg uav34_name)" />
		<param name="uav35_name" value="$(arg uav35_name)" />
		<param name="uav36_name" value="$(arg uav36_name)" />
		<param name="uav37_name" value="$(arg uav37_name)" />
		<param name="uav38_name" value="$(arg uav38_name)" />
		<param name="uav39_name" value="$(arg uav39_name)" />
		<param name="uav40_name" value="$(arg uav40_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
		<param name="uav2_id" value="$(arg uav2_id)" />
		<param name="uav3_id" value="$(arg uav3_id)" />
		<param name="uav4_id" value="$(arg uav4_id)" />
		<param name="uav5_id" value="$(arg uav5_id)" />
		<param name="uav6_id" value="$(arg uav6_id)" />
		<param name="uav7_id" value="$(arg uav7_id)" />
		<param name="uav8_id" value="$(arg uav8_id)" />
		<param name="uav9_id" value="$(arg uav9_id)" />
		<param name="uav10_id" value="$(arg uav10_id)" />
		<param name="uav11_id" value="$(arg uav11_id)" />
		<param name="uav12_id" value="$(arg uav12_id)" />
		<param name="uav13_id" value="$(arg uav13_id)" />
		<param name="uav14_id" value="$(arg uav14_id)" />
		<param name="uav15_id" value="$(arg uav15_id)" />
		<param name="uav16_id" value="$(arg uav16_id)" />
		<param name="uav17_id" value="$(arg uav17_id)" />
		<param name="uav18_id" value="$(arg uav18_id)" />
		<param name="uav19_id" value="$(arg uav19_id)" />
		<param name="uav20_id" value="$(arg uav20_id)" />
		<param name="uav21_id" value="$(arg uav21_id)" />
		<param name="uav22_id" value="$(arg uav22_id)" />
		<param name="uav23_id" value="$(arg uav23_id)" />
		<param name="uav24_id" value="$(arg uav24_id)" />
		<param name="uav25_id" value="$(arg uav25_id)" />
		<param name="uav26_id" value="$(arg uav26_id)" />
		<param name="uav27_id" value="$(arg uav27_id)" />
		<param name="uav28_id" value="$(arg uav28_id)" />
		<param name="uav29_id" value="$(arg uav29_id)" />
		<param name="uav30_id" value="$(arg uav30_id)" />
		<param name="uav31_id" value="$(arg uav31_id)" />
		<param name="uav32_id" value="$(arg uav32_id)" />
		<param name="uav33_id" value="$(arg uav33_id)" />
		<param name="uav34_id" value="$(arg uav34_id)" />
		<param name="uav35_id" value="$(arg uav35_id)" />
		<param name="uav36_id" value="$(arg uav36_id)" />
		<param name="uav37_id" value="$(arg uav37_id)" />
		<param name="uav38_id" value="$(arg uav38_id)" />
		<param name="uav39_id" value="$(arg uav39_id)" />
		<param name="uav40_id" value="$(arg uav40_id)" />
	</node>

	<!-- 阵型控制程序 -->
	<node pkg="prometheus_swarm_control" type="swarm_formation_control" name="swarm_formation_control" output="screen" launch-prefix="gnome-terminal --">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="formation_size" value="1.0"/>
		<param name="sim_mode" value="true"/>
		<param name="uav1_name" value="$(arg uav1_name)" />
		<param name="uav2_name" value="$(arg uav2_name)" />
		<param name="uav3_name" value="$(arg uav3_name)" />
		<param name="uav4_name" value="$(arg uav4_name)" />
		<param name="uav5_name" value="$(arg uav5_name)" />
		<param name="uav6_name" value="$(arg uav6_name)" />
		<param name="uav7_name" value="$(arg uav7_name)" />
		<param name="uav8_name" value="$(arg uav8_name)" />
		<param name="uav9_name" value="$(arg uav9_name)" />
		<param name="uav10_name" value="$(arg uav10_name)" />
		<param name="uav11_name" value="$(arg uav11_name)" />
		<param name="uav12_name" value="$(arg uav12_name)" />
		<param name="uav13_name" value="$(arg uav13_name)" />
		<param name="uav14_name" value="$(arg uav14_name)" />
		<param name="uav15_name" value="$(arg uav15_name)" />
		<param name="uav16_name" value="$(arg uav16_name)" />
		<param name="uav17_name" value="$(arg uav17_name)" />
		<param name="uav18_name" value="$(arg uav18_name)" />
		<param name="uav19_name" value="$(arg uav19_name)" />
		<param name="uav20_name" value="$(arg uav20_name)" />
		<param name="uav21_name" value="$(arg uav21_name)" />
		<param name="uav22_name" value="$(arg uav22_name)" />
		<param name="uav23_name" value="$(arg uav23_name)" />
		<param name="uav24_name" value="$(arg uav24_name)" />
		<param name="uav25_name" value="$(arg uav25_name)" />
		<param name="uav26_name" value="$(arg uav26_name)" />
		<param name="uav27_name" value="$(arg uav27_name)" />
		<param name="uav28_name" value="$(arg uav28_name)" />
		<param name="uav29_name" value="$(arg uav29_name)" />
		<param name="uav30_name" value="$(arg uav30_name)" />
		<param name="uav31_name" value="$(arg uav31_name)" />
		<param name="uav32_name" value="$(arg uav32_name)" />
		<param name="uav33_name" value="$(arg uav33_name)" />
		<param name="uav34_name" value="$(arg uav34_name)" />
		<param name="uav35_name" value="$(arg uav35_name)" />
		<param name="uav36_name" value="$(arg uav36_name)" />
		<param name="uav37_name" value="$(arg uav37_name)" />
		<param name="uav38_name" value="$(arg uav38_name)" />
		<param name="uav39_name" value="$(arg uav39_name)" />
		<param name="uav40_name" value="$(arg uav40_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
		<param name="uav2_id" value="$(arg uav2_id)" />
		<param name="uav3_id" value="$(arg uav3_id)" />
		<param name="uav4_id" value="$(arg uav4_id)" />
		<param name="uav5_id" value="$(arg uav5_id)" />
		<param name="uav6_id" value="$(arg uav6_id)" />
		<param name="uav7_id" value="$(arg uav7_id)" />
		<param name="uav8_id" value="$(arg uav8_id)" />
		<param name="uav9_id" value="$(arg uav9_id)" />
		<param name="uav10_id" value="$(arg uav10_id)" />
		<param name="uav11_id" value="$(arg uav11_id)" />
		<param name="uav12_id" value="$(arg uav12_id)" />
		<param name="uav13_id" value="$(arg uav13_id)" />
		<param name="uav14_id" value="$(arg uav14_id)" />
		<param name="uav15_id" value="$(arg uav15_id)" />
		<param name="uav16_id" value="$(arg uav16_id)" />
		<param name="uav17_id" value="$(arg uav17_id)" />
		<param name="uav18_id" value="$(arg uav18_id)" />
		<param name="uav19_id" value="$(arg uav19_id)" />
		<param name="uav20_id" value="$(arg uav20_id)" />
		<param name="uav21_id" value="$(arg uav21_id)" />
		<param name="uav22_id" value="$(arg uav22_id)" />
		<param name="uav23_id" value="$(arg uav23_id)" />
		<param name="uav24_id" value="$(arg uav24_id)" />
		<param name="uav25_id" value="$(arg uav25_id)" />
		<param name="uav26_id" value="$(arg uav26_id)" />
		<param name="uav27_id" value="$(arg uav27_id)" />
		<param name="uav28_id" value="$(arg uav28_id)" />
		<param name="uav29_id" value="$(arg uav29_id)" />
		<param name="uav20_id" value="$(arg uav20_id)" />
		<param name="uav31_id" value="$(arg uav31_id)" />
		<param name="uav32_id" value="$(arg uav32_id)" />
		<param name="uav33_id" value="$(arg uav33_id)" />
		<param name="uav34_id" value="$(arg uav34_id)" />
		<param name="uav35_id" value="$(arg uav35_id)" />
		<param name="uav36_id" value="$(arg uav36_id)" />
		<param name="uav37_id" value="$(arg uav37_id)" />
		<param name="uav38_id" value="$(arg uav38_id)" />
		<param name="uav39_id" value="$(arg uav39_id)" />
		<param name="uav40_id" value="$(arg uav40_id)" />
	</node>

	<!-- 启动Gazebo -->
	<!-- Gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/004_CXY/CXY_case1_sim.world"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>
</launch>

