<!-- Case 1 -->
<launch>
	<!-- 无人机集群数量 -->
	<arg name="swarm_num" default="40"/>
	<!-- 无人机名称 -->
	<arg name="uav1_name" default="/uav1"/>
	<arg name="uav2_name" default="/uav2"/>
	<arg name="uav3_name" default="/uav3"/>
	<arg name="uav4_name" default="/uav4"/>
	<arg name="uav5_name" default="/uav5"/>
	<arg name="uav6_name" default="/uav6"/>
	<arg name="uav7_name" default="/uav7"/>
	<arg name="uav8_name" default="/uav8"/>
	<arg name="uav9_name" default="/uav9"/>
	<arg name="uav10_name" default="/uav10"/>
	<arg name="uav11_name" default="/uav11"/>
	<arg name="uav12_name" default="/uav12"/>
	<arg name="uav13_name" default="/uav13"/>
	<arg name="uav14_name" default="/uav14"/>
	<arg name="uav15_name" default="/uav15"/>
	<arg name="uav16_name" default="/uav16"/>
	<arg name="uav17_name" default="/uav17"/>
	<arg name="uav18_name" default="/uav18"/>
	<arg name="uav19_name" default="/uav19"/>
	<arg name="uav20_name" default="/uav20"/>
	<arg name="uav21_name" default="/uav21"/>
	<arg name="uav22_name" default="/uav22"/>
	<arg name="uav23_name" default="/uav23"/>
	<arg name="uav24_name" default="/uav24"/>
	<arg name="uav25_name" default="/uav25"/>
	<arg name="uav26_name" default="/uav26"/>
	<arg name="uav27_name" default="/uav27"/>
	<arg name="uav28_name" default="/uav28"/>
	<arg name="uav29_name" default="/uav29"/>
	<arg name="uav30_name" default="/uav30"/>
	<arg name="uav31_name" default="/uav31"/>
	<arg name="uav32_name" default="/uav32"/>
	<arg name="uav33_name" default="/uav33"/>
	<arg name="uav34_name" default="/uav34"/>
	<arg name="uav35_name" default="/uav35"/>
	<arg name="uav36_name" default="/uav36"/>
	<arg name="uav37_name" default="/uav37"/>
	<arg name="uav38_name" default="/uav38"/>
	<arg name="uav39_name" default="/uav39"/>
	<arg name="uav40_name" default="/uav40"/>

	<!-- 无人机ID -->
	<arg name="uav1_id" default="1"/>
	<arg name="uav2_id" default="2"/>
	<arg name="uav3_id" default="3"/>
	<arg name="uav4_id" default="4"/>
	<arg name="uav5_id" default="5"/>
	<arg name="uav6_id" default="6"/>
	<arg name="uav7_id" default="7"/>
	<arg name="uav8_id" default="8"/>
	<arg name="uav9_id" default="9"/>
	<arg name="uav10_id" default="10"/>
	<arg name="uav11_id" default="11"/>
	<arg name="uav12_id" default="12"/>
	<arg name="uav13_id" default="13"/>
	<arg name="uav14_id" default="14"/>
	<arg name="uav15_id" default="15"/>
	<arg name="uav16_id" default="16"/>
	<arg name="uav17_id" default="17"/>
	<arg name="uav18_id" default="18"/>
	<arg name="uav19_id" default="19"/>
	<arg name="uav20_id" default="20"/>
	<arg name="uav21_id" default="21"/>
	<arg name="uav22_id" default="22"/>
	<arg name="uav23_id" default="23"/>
	<arg name="uav24_id" default="24"/>
	<arg name="uav25_id" default="25"/>
	<arg name="uav26_id" default="26"/>
	<arg name="uav27_id" default="27"/>
	<arg name="uav28_id" default="28"/>
	<arg name="uav29_id" default="29"/>
	<arg name="uav30_id" default="30"/>
	<arg name="uav31_id" default="31"/>
	<arg name="uav32_id" default="32"/>
	<arg name="uav33_id" default="33"/>
	<arg name="uav34_id" default="34"/>
	<arg name="uav35_id" default="35"/>
	<arg name="uav36_id" default="36"/>
	<arg name="uav37_id" default="37"/>
	<arg name="uav38_id" default="38"/>
	<arg name="uav39_id" default="39"/>
	<arg name="uav40_id" default="40"/>

	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="0.5"/>
    <arg name="uav1_init_y" default="0.0"/>
    <arg name="uav2_init_x" default="-0.5"/>
    <arg name="uav2_init_y" default="0.0"/>
    <arg name="uav3_init_x" default="1.5"/>
    <arg name="uav3_init_y" default="0.0"/>
    <arg name="uav4_init_x" default="-1.5"/>
    <arg name="uav4_init_y" default="0.0"/>
    <arg name="uav5_init_x" default="2.5"/>
    <arg name="uav5_init_y" default="0.0"/>
	<arg name="uav6_init_x" default="-2.5"/>
    <arg name="uav6_init_y" default="0.0"/>
	<arg name="uav7_init_x" default="3.5"/>
    <arg name="uav7_init_y" default="0.0"/>
	<arg name="uav8_init_x" default="-3.5"/>
    <arg name="uav8_init_y" default="0.0"/>
	<arg name="uav9_init_x" default="4.5"/>
    <arg name="uav9_init_y" default="0.0"/>
	<arg name="uav10_init_x" default="-4.5"/>
    <arg name="uav10_init_y" default="0.0"/>
	<arg name="uav11_init_x" default="5.5"/>
    <arg name="uav11_init_y" default="0.0"/>
    <arg name="uav12_init_x" default="-5.5"/>
    <arg name="uav12_init_y" default="0.0"/>
    <arg name="uav13_init_x" default="6.5"/>
    <arg name="uav13_init_y" default="0.0"/>
    <arg name="uav14_init_x" default="-6.5"/>
    <arg name="uav14_init_y" default="0.0"/>
    <arg name="uav15_init_x" default="7.5"/>
    <arg name="uav15_init_y" default="0.0"/>
	<arg name="uav16_init_x" default="-7.5"/>
    <arg name="uav16_init_y" default="0.0"/>
	<arg name="uav17_init_x" default="8.5"/>
    <arg name="uav17_init_y" default="0.0"/>
	<arg name="uav18_init_x" default="-8.5"/>
    <arg name="uav18_init_y" default="0.0"/>
	<arg name="uav19_init_x" default="9.5"/>
    <arg name="uav19_init_y" default="0.0"/>
	<arg name="uav20_init_x" default="-9.5"/>
    <arg name="uav20_init_y" default="0.0"/>
	<arg name="uav21_init_x" default="10.5"/>
    <arg name="uav21_init_y" default="0.0"/>
    <arg name="uav22_init_x" default="-10.5"/>
    <arg name="uav22_init_y" default="0.0"/>
    <arg name="uav23_init_x" default="11.5"/>
    <arg name="uav23_init_y" default="0.0"/>
    <arg name="uav24_init_x" default="-11.5"/>
    <arg name="uav24_init_y" default="0.0"/>
    <arg name="uav25_init_x" default="12.5"/>
    <arg name="uav25_init_y" default="0.0"/>
	<arg name="uav26_init_x" default="-12.5"/>
    <arg name="uav26_init_y" default="0.0"/>
	<arg name="uav27_init_x" default="13.5"/>
    <arg name="uav27_init_y" default="0.0"/>
	<arg name="uav28_init_x" default="-13.5"/>
    <arg name="uav28_init_y" default="0.0"/>
	<arg name="uav29_init_x" default="14.5"/>
    <arg name="uav29_init_y" default="0.0"/>
	<arg name="uav30_init_x" default="-14.5"/>
    <arg name="uav30_init_y" default="0.0"/>
	<arg name="uav31_init_x" default="15.5"/>
    <arg name="uav31_init_y" default="0.0"/>
    <arg name="uav32_init_x" default="-15.5"/>
    <arg name="uav32_init_y" default="0.0"/>
    <arg name="uav33_init_x" default="16.5"/>
    <arg name="uav33_init_y" default="0.0"/>
    <arg name="uav34_init_x" default="-16.5"/>
    <arg name="uav34_init_y" default="0.0"/>
    <arg name="uav35_init_x" default="17.5"/>
    <arg name="uav35_init_y" default="0.0"/>
	<arg name="uav36_init_x" default="-17.5"/>
    <arg name="uav36_init_y" default="0.0"/>
	<arg name="uav37_init_x" default="18.5"/>
    <arg name="uav37_init_y" default="0.0"/>
	<arg name="uav38_init_x" default="-18.5"/>
    <arg name="uav38_init_y" default="0.0"/>
	<arg name="uav39_init_x" default="19.5"/>
    <arg name="uav39_init_y" default="0.0"/>
	<arg name="uav40_init_x" default="-19.5"/>
    <arg name="uav40_init_y" default="0.0"/>
	
	<!-- swarm_estimator 参数 -->
	<arg name="input_source" default="2"/>
	<!-- swarm_controller 参数 -->
	<arg name="Takeoff_height" default="1.0"/>
	<arg name="Disarm_height" default="0.2"/>
	<arg name="Land_speed" default="0.2"/>
	<!-- 地理围栏 -->
	<arg name="x_min" default="-45"/>
	<arg name="x_max" default="45"/>
	<arg name="y_min" default="-25"/>
	<arg name="y_max" default="25"/>
	<arg name="z_min" default="-1.0"/>
	<arg name="z_max" default="3.5"/>

	<!-- 启动顺序 -->
	<!-- 启动SITL,并加载模型 -->
	<!-- 启动 swarm_estimator -->
	<!-- 启动 swarm_controller -->
	<!-- 启动 地面站 -->
	<!-- 启动 阵型变化程序 -->
	<!-- 启动 Gazebo -->
	<!-- 11号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav11_name)"/>
		<arg name="uav_id" value="$(arg uav11_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav11/uav11.sdf"/>
		<arg name="model" value="uav11"/>
		<arg name="uav_init_x" value="$(arg uav11_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav11_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 12号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav12_name)"/>
		<arg name="uav_id" value="$(arg uav12_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav12/uav12.sdf"/>
		<arg name="model" value="uav12"/>
		<arg name="uav_init_x" value="$(arg uav12_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav12_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 13号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav13_name)"/>
		<arg name="uav_id" value="$(arg uav13_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav13/uav13.sdf"/>
		<arg name="model" value="uav13"/>
		<arg name="uav_init_x" value="$(arg uav13_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav13_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 14号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav14_name)"/>
		<arg name="uav_id" value="$(arg uav14_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav14/uav14.sdf"/>
		<arg name="model" value="uav14"/>
		<arg name="uav_init_x" value="$(arg uav14_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav14_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 15号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav15_name)"/>
		<arg name="uav_id" value="$(arg uav15_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav15/uav15.sdf"/>
		<arg name="model" value="uav15"/>
		<arg name="uav_init_x" value="$(arg uav15_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav15_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 16号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav16_name)"/>
		<arg name="uav_id" value="$(arg uav16_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav16/uav16.sdf"/>
		<arg name="model" value="uav16"/>
		<arg name="uav_init_x" value="$(arg uav16_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav16_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 17号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav17_name)"/>
		<arg name="uav_id" value="$(arg uav17_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav17/uav17.sdf"/>
		<arg name="model" value="uav17"/>
		<arg name="uav_init_x" value="$(arg uav17_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav17_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 18号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav18_name)"/>
		<arg name="uav_id" value="$(arg uav18_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav18/uav18.sdf"/>
		<arg name="model" value="uav18"/>
		<arg name="uav_init_x" value="$(arg uav18_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav18_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 19号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav19_name)"/>
		<arg name="uav_id" value="$(arg uav19_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav19/uav19.sdf"/>
		<arg name="model" value="uav19"/>
		<arg name="uav_init_x" value="$(arg uav19_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav19_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- 20号飞机 -->
	<include file="$(find prometheus_gazebo)/launch_CXY/sitl_cxy_basic.launch">
		<arg name="swarm_num" value="$(arg swarm_num)"/>
		<arg name="uav_name" value="$(arg uav20_name)"/>
		<arg name="uav_id" value="$(arg uav20_id)"/>
		<arg name="sdf" value="$(find prometheus_gazebo)/amov_models/Multisolo/uav20/uav20.sdf"/>
		<arg name="model" value="uav20"/>
		<arg name="uav_init_x" value="$(arg uav20_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav20_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="0.0"/>
	</include>

	<!-- run the swarm_estimator.cpp -->
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav11" output="screen">
		<param name="uav_name" value="$(arg uav11_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav12" output="screen">
		<param name="uav_name" value="$(arg uav12_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav13" output="screen">
		<param name="uav_name" value="$(arg uav13_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav14" output="screen">
		<param name="uav_name" value="$(arg uav14_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav15" output="screen">
		<param name="uav_name" value="$(arg uav15_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav16" output="screen">
		<param name="uav_name" value="$(arg uav16_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav17" output="screen">
		<param name="uav_name" value="$(arg uav17_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav18" output="screen">
		<param name="uav_name" value="$(arg uav18_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav19" output="screen">
		<param name="uav_name" value="$(arg uav19_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>
	<node pkg="prometheus_swarm_control" type="swarm_estimator" name="swarm_estimator_uav20" output="screen">
		<param name="uav_name" value="$(arg uav20_name)"/>
		<param name="input_source" value="$(arg input_source)" />
	</node>

	<!-- 启动swarm_controller -->
	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav11" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav11_id)"/>
		<param name="uav_name" value="$(arg uav11_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav12" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav12_id)"/>
		<param name="uav_name" value="$(arg uav12_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav13" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav13_id)"/>
		<param name="uav_name" value="$(arg uav13_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav14" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav14_id)"/>
		<param name="uav_name" value="$(arg uav14_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav15" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav15_id)"/>
		<param name="uav_name" value="$(arg uav15_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav16" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav16_id)"/>
		<param name="uav_name" value="$(arg uav16_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav17" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav17_id)"/>
		<param name="uav_name" value="$(arg uav17_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav18" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav18_id)"/>
		<param name="uav_name" value="$(arg uav18_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav19" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav19_id)"/>
		<param name="uav_name" value="$(arg uav19_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>

	<node pkg="prometheus_swarm_control" type="swarm_controller" name="swarm_controller_uav20" output="screen">
		<param name="swarm_num" value="$(arg swarm_num)"/>
		<param name="uav_id" value="$(arg uav20_id)"/>
		<param name="uav_name" value="$(arg uav20_name)"/>
		<param name="Takeoff_height" value="$(arg Takeoff_height)"/>
		<param name="Disarm_height" value="$(arg Disarm_height)"/>
		<param name="Land_speed" value="$(arg Land_speed)"/>
		<param name="geo_fence/x_min" value="$(arg x_min)"/>
		<param name="geo_fence/x_max" value="$(arg x_max)"/>
		<param name="geo_fence/y_min" value="$(arg y_min)"/>
		<param name="geo_fence/y_max" value="$(arg y_max)"/>
		<param name="geo_fence/z_min" value="$(arg z_min)"/>
		<param name="geo_fence/z_max" value="$(arg z_max)"/>
	</node>
</launch>

