<launch>
        <!-- 关于坐标系转换请参看文档相关说明 -->
        <!-- 仿真中引入world系和map系,实际实验中一般world系即map系 -->
        <!-- world: 世界系,即gazebo坐标系 -->
        <!-- map:   以飞机起飞点为原点的坐标系  -->
        <!-- base_link: 机体坐标系 -->
        <!-- 注意，当无人机起飞点不在 0,0,0时, gazebo中的坐标系并非与map系的原点重合 -->
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0"/>
	<arg name="R" default="0"/>
        <arg name="P" default="0"/>
        <arg name="Y" default="0"/>

        <!-- TF for world-->
        <!-- 统一mavros发布的map系与world系 -->
        <node pkg="tf" type="static_transform_publisher" name="tf_world_map"
          	args="$(arg x) $(arg y) 0 0 0 0 world map 100"/>

        <!-- TF for 2D lidar-->
        <!-- 2Dlidar_link是2D激光雷达坐标系 -->
        <!-- 机体系与2Dlidar_link的坐标转换关系见 P300_2Dlidar.sdf -->
  	<node pkg="tf" type="static_transform_publisher" name="tf_2Dlidar"
          	args="0 0 0.2 0 0 0 base_link uav1/lidar_link 100"/>
</launch>

