<launch>
    <!-- Launch Gazebo Simulation -->
    <arg name="x" default="1.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
    <!-- 此处输入源为激光雷达slam -->
    <arg name="input_source" default="1"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/indoor_competition.world"/>
    <arg name="lidar" default="true"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_2Dlidar/P300_2Dlidar.sdf"/>
	<arg name="model" default="P300_2Dlidar"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="input_source" value="$(arg input_source)"/>
    </include>
    
	<!-- 启动rviz,设为false可关闭 -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/rviz_config/rviz_cartographer_2d.rviz" />
    </group>

    <param name="/use_sim_time" value="true" />

    <!-- 注意修改激光雷达配置文件 -->
    <!-- 开启cartographer　slam 需设置　~/Prometheus/Simulator/gazebo_simulator/config/px4_config.yaml 中71行改为false -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find prometheus_gazebo)/config/config_cartographer
            -configuration_basename rplidar_s1.lua"
        output="screen">
        <remap from="scan" to="/prometheus/sensors/2Dlidar_scan" />
        <remap from="imu" to="/mavros/imu/data_raw" />
    </node>
    
    <!-- imu_link -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_imu" 
            args="0 0 0 0 0 0 base_link imu_link 100"/> -->

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_gazebo)/config/prometheus_control_config/terminal_control.yaml" />
	</node>	

</launch>

