<launch>
	<!-- run the position_control.cpp -->

	<node pkg="ellipse_det" type="ellipse_det" name="ellipse_det" args="wt" output="screen">

		<!-- load blacklist, config -->
                <rosparam command="load" file="PATH_TO/Prometheus/Modules/object_detection/config/camera_param.yaml" />
	</node>
</launch>
