<?xml version="1.0"?>
<model>
  <name>iris_2Dlidar_camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_2Dlidar_camera.sdf</sdf>

  <author>
   <name>bingo</name>
   <email>bingobin.lw@gmail.com</email>
  </author>

  <description>
   simulation model demo test
  </description>
</model>
