<launch>
    <!-- Launch Gazebo Simulation -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="-5.0"/>
    <arg name="z" default="0"/>
    <arg name="Y" default="1.57"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/obstacle.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/iris_realsense_camera/iris_realsense_camera.sdf"/>
	<arg name="model" default="iris_realsense_camera"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="Y" value="$(arg Y)"/>
    </include>

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <node pkg="tf" type="static_transform_publisher" name="tf_realsense_camera"
            args="0 0 0 -1.57 0 -1.57 base_link realsense_camera_link 10"/>

    <!-- Ros transformation -->
    <node pkg="tf" type="static_transform_publisher" name="tf_local_origin"
          args="0 0 0 0 0 0 map odom 10"/>

	<node pkg="prometheus_mission" type="local_planning" name="local_planning" output="screen" launch-prefix="gnome-terminal --">	
	</node>

	<include file="$(find prometheus_local_planning)/launch/planning_px4.launch">
    </include>
    
	<!-- run the rviz -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/rviz_local_planning.rviz" />
        <!--<include file="$(find prometheus_local_planning)/launch/rviz.launch"> </include> --> 
    </group>
</launch>

