<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="world" default="$(find prometheus_gazebo)/worlds/qrcode.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/iris/iris.sdf"/>
	<arg name="model" default="iris"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
    </include>

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_control)/launch/terminal_control.yaml" />
	</node>

	<node pkg="prometheus_mission" type="planning" name="planning" output="screen" launch-prefix="gnome-terminal --">	
	</node>

    <include file="$(find prometheus_plan_manage)/launch/prometheus_planning_control_gazebo.launch">
    </include>

    <include file="$(find prometheus_plan_manage)/launch/rviz_static.launch">
    </include>

</launch>

