<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/landing_pad.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_Monocular_down/P300_Monocular_down.sdf"/>
	<arg name="model" default="P300_Monocular_down"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the autonomous_landing.cpp -->
	<node pkg="prometheus_mission" type="autonomous_landing_ukf" name="autonomous_landing_ukf" output="screen" launch-prefix="gnome-terminal --">
		<rosparam command="load" file="$(find prometheus_mission)/autonomous_landing/autonomous_landing.yaml" />	
	</node>

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_control)/launch/terminal_control.yaml" />
	</node>

	<!-- run the landpad_det.cpp -->
	<node pkg="prometheus_detection" type="landpad_det" name="landpad_det" output="screen" launch-prefix="gnome-terminal --">	
		<remap from="/prometheus/camera/rgb/image_raw" to="/realsense_plugin/camera/color/image_raw"/>
	</node>	

</launch>

