<launch>
    <!-- Launch Gazebo Simulation -->
	<arg name="world" default="$(find prometheus_gazebo)/worlds/cloister.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/iris_realsense_camera/iris_realsense_camera.sdf"/>
	<arg name="model" default="iris_realsense_camera"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
    </include>

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <node pkg="tf" type="static_transform_publisher" name="tf_realsense_camera"
            args="0 0 0 -1.57 0 -1.57 base_link realsense_camera_link 10"/>

    <!-- Ros transformation -->
    <node pkg="tf" type="static_transform_publisher" name="tf_local_origin"
          args="0 0 0 0 0 0 map odom 10"/>
    
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"       value="--delete_db_on_start"/>
        <arg name="depth_topic"        value="/realsense_plugin/camera/depth/image_raw"/>
		<arg name="rgb_topic"          value="/realsense_plugin/camera/color/image_raw"/>
        <arg name="camera_info_topic"  value="/realsense_plugin/camera/color/camera_info"/>
        <arg name="frame_id"           value="base_link"/>
        <arg name="visual_odometry"    value="false"/>
        <arg name="odom_topic"         value="/ground_truth/state"/>  
        <arg name="queue_size"         value="200"/>
		<arg name="rtabmapviz"         value="false"/>
    </include>

	<node pkg="prometheus_mission" type="local_planning" name="local_planning" output="screen" launch-prefix="gnome-terminal --">	
	</node>

	<include file="$(find prometheus_local_planning)/launch/planning_px4.launch">
		<remap from="/planning/local_point_cloud" to="/rtabmap/cloud_map" />
		<remap from="/planning/odom_world" to="/mavros/local_postion/odom" />
    </include>

    <include file="$(find prometheus_local_planning)/launch/rviz.launch">
    </include>

</launch>

