<launch>
	<!-- Launch Gazebo Simulation -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/empty.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_basic/P300_basic.sdf"/>
	<arg name="model" default="P300_basic"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_control)/config/terminal_control.yaml" />
	</node>	
	
	<!-- run the waypoint_tracking.cpp -->
	<node pkg="prometheus_mission" type="waypoint_tracking" name="waypoint_tracking" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_mission)/waypoint_tracking/waypoint_tracking.yaml" />
	</node>	
</launch>

