<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.05"/>
    <arg name="Y" default="1.57"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/wall_num.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_Monocular_front/P300_Monocular_front.sdf"/>
	<arg name="model" default="P300_Monocular_front"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="Y" value="$(arg Y)"/>
    </include>

	<!-- run the digitnum_det -->
    <node pkg="prometheus_detection" type="pytorch_mnist_gazebo.py" name="digitnum_det" output="screen">
    </node>

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_control)/launch/terminal_control.yaml" />
	</node>	
	
</launch>
