<launch>
    <!-- Launch Gazebo Simulation -->
    <arg name="x" default="5.0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/obstacle.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/iris_realsense_camera/iris_realsense_camera.sdf"/>
	<arg name="model" default="iris_realsense_camera"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <node pkg="tf" type="static_transform_publisher" name="tf_realsense_camera"
            args="0 0 0 -1.57 0 -1.57 base_link realsense_camera_link 10"/>

    <!-- Ros transformation -->
    <node pkg="tf" type="static_transform_publisher" name="tf_local_origin"
          args="0 0 0 0 0 0 map odom 10"/>

    <arg name="use_rviz"                  default="false"/>
    <arg name="use_rtabmapviz"            default="false"/>
    
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"       value="--delete_db_on_start"/>
        <arg name="depth_topic"        value="/realsense_d400/depth/image_raw"/>
		<arg name="rgb_topic"          value="/realsense_plugin/camera/color/image_raw"/>
        <arg name="camera_info_topic"  value="/realsense_plugin/camera/color/camera_info"/>
        <arg name="frame_id"           value="base_link"/>
        <arg name="visual_odometry"    value="false"/>
        <arg name="odom_topic"         value="/ground_truth/state"/>  
        <arg name="queue_size"         value="200"/>
        <arg name="rviz"               value="$(arg use_rviz)"/>
        <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
    </include>

    
</launch>

