<launch>
	<!-- run the position_control.cpp -->

	<node pkg="prometheus_control" type="collision_avoidance_streo" name="collision_avoidance_streo" output="screen">

		<!-- load blacklist, config -->
                <rosparam command="load" file="$(find prometheus_control)/config/collision_avoidance_streo.yaml" />
	</node>
</launch>
