<?xml version="1.0"?>
<model>
  <name>P300_indoor_competition</name>
  <version>1.0</version>
  <sdf version='1.6'>P300_indoor_competition.sdf</sdf>

  <author>
   <name>Qi Yuhua</name>
   <email>fatmoonqyp@126.com</email>
  </author>

  <description>
    P300_basic + 3dlidar + down_camera + front_camera
  </description>
</model>
