<launch>
    <node pkg="prometheus_detection" type="color_line_det.py" name="color_det" output="screen">
        <param name="camera_topic" value="/prometheus/camera/rgb/image_raw"/>
        <param name="camera_info" value="$(find prometheus_gazebo)/config/camera_config/camera_param_gazebo_monocular.yaml"/>
        <!-- 线距底边的距离，0-1，0.5表示在图像中间 -->
        <param name="line_location" value="0.5"/>
        <param name="line_location_a1" value="0.3"/>
        <param name="line_location_a2" value="0.7"/>
        <!-- 待检测颜色，没有此颜色时，默认检测黑色，可选：black，red，yellow，green，blue -->
        <param name="line_color" value="black"/>
    </node>
</launch>
