<launch>
    <node pkg="prometheus_detection" type="pytorch_mnist_det.py" name="digitnum_det" output="screen">
        <param name="subscriber" value="/prometheus/camera/rgb/image_raw"/>
        <param name="config" value="$(find prometheus_detection)/config/camera_param.yaml"/>
    </node>
</launch>
