<launch>
    <node pkg="prometheus_detection" type="siam_rpn.py" name="siamrpn_tracker" output="screen">
        <param name="camera_topic" value="/prometheus/camera/rgb/image_raw"/>
        <param name="config" value="$(find prometheus_experiment)/config/prometheus_detection_config/camera_param.yaml"/>
    </node>
</launch>
