<launch>
    <node pkg="prometheus_detection" type="web_cam" name="web_cam" output="screen">
        <param name="camera_type" type="int" value="4" />
	    <param name="resize_h" type="int" value="720" />
        <param name="resize_w" type="int" value="1280" />
        <param name="web_cam_ip" type="string" value="192.168.2.64" />
    </node>
</launch>
