<launch>
    <node pkg="prometheus_detection" type="web_cam" name="web_cam" output="screen">
        <param name="cam_id" type="int" value="2" />
        <param name="cam_h" type="int" value="1080" />
        <param name="cam_w" type="int" value="1920" />
        <param name="resize_h" type="int" value="0" />
        <param name="resize_w" type="int" value="0" />
    </node>
</launch>
