<launch>
  <arg name="obj_num" value="7" />
  <arg name="max_vel" value="3.0" />
  <arg name="max_acc" value="2.0" />
  <arg name="dynamic" value="0" />

  <!-- main node -->
  <node pkg="plan_manage" name="test_collision" type="test_collision" output="screen">
  <!-- remap -->
    <remap from="/laser_cloud_surround" to="/random_forest/all_map"/>
    <remap from="/odom_world" to="/state_ukf/odom"/>

  <!-- sdf map updating -->
    <param name="sdf_map/origin_x" value="-20.0" type="double"/>
    <param name="sdf_map/origin_y" value="-20.0" type="double"/>
    <param name="sdf_map/origin_z" value="-2.0" type="double"/>

    <param name="sdf_map/map_size_x" value="40.0" type="double"/>
    <param name="sdf_map/map_size_y" value="40.0" type="double"/>
    <param name="sdf_map/map_size_z" value="5.0" type="double"/>

    <param name="sdf_map/resolution_sdf" value="0.1" type="double"/>
    <param name="sdf_map/ceil_height" value="1.5" type="double"/>
    <param name="sdf_map/update_rate" value="10.0" type="double"/>
    <param name="sdf_map/update_range" value="5.0" type="double"/>
    <param name="sdf_map/inflate" value="0.1" type="double"/>
    <param name="sdf_map/radius_ignore" value="1.0" type="double"/>

  <!-- trajectory optimization -->
    <param name="optimization/lamda1" value="10.0" type="double"/>
    
    <param name="optimization/lamda1" value="7.0" type="double"/>
    <param name="optimization/lamda2" value="0.8" type="double"/>
    <param name="optimization/lamda3" value="0.00001" type="double"/>
    <param name="optimization/lamda4" value="0.001" type="double"/>
    <param name="optimization/dist0" value="0.8" type="double"/>
    <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
    <param name="optimization/collision_type" value="1" type="int"/>

    <param name="optimization/algorithm" value="11" type="int"/>
    <param name="optimization/max_iteration_num" value="1000" type="int"/>
    <param name="optimization/order" value="3" type="int"/>

    <param name="bspline/limit_vel" value="$(arg max_vel)" type="double"/>
    <param name="bspline/limit_acc" value="$(arg max_acc)" type="double"/>
    <param name="bspline/limit_ratio" value="1.1" type="double"/>

  </node>

</launch>