<?xml version="1.0" ?>
<model>
    <name>Monocular_fisheye</name>
    <version>1.0</version>
    <sdf version="1.6">Monocular_fisheye.sdf</sdf>
    
    <author>
        <name>Qi Yuhua</name>
        <email>fatmoonqyp@126.com</email>
    </author>

    <description>
        Monocular_fisheye
    </description>
</model>
