<?xml version="1.0"?>
<model>
  <name>P300_uav1</name>
  <version>1.0</version>
  <sdf version='1.6'>P300_uav1.sdf</sdf>

  <author>
   <name>Qi Yuhua</name>
   <email>fatmoonqyp@126.com</email>
  </author>

  <description>
    This is a model of the P300 Quadrotor. The original model has been created by Yuhua Qi.
  </description>
</model>