<?xml version="1.0"?>
<robot name="test_model" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find realsense_ros_gazebo)/xacro/tracker.xacro"/>
  <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>

  <link name="base_footprint"/>

  <joint name="footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0 " xyz="0 0 0.005"/>
      <geometry>
          <box size="0.4 0.4 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0 " xyz="0 0 0.005"/>
      <geometry>
        <box size="0.4 0.4 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0 " xyz="0 0 0.005"/>
      <geometry>
        <box size="0.4 0.4 0.01"/>
      </geometry>
      <mass value="100"/>
      <inertia ixx="1.0265" ixy="0" ixz="0" iyy="1.3944999999999999" iyz="0" izz="2.1320000000000001"/>
    </inertial>
  </link>

  <!-- TEST -->

  <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10">
    <origin rpy="0 0 0 " xyz="0 0 0.5"/>
  </xacro:realsense_d435>

  <!-- <xacro:realsense_T265 sensor_name="camera" parent_link="base_link" rate="30.0">
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
  </xacro:realsense_T265> -->

  <!-- <xacro:realsense_R200 sensor_name="camera" parent_link="base_link" rate="30.0">
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
  </xacro:realsense_R200> -->


</robot>
