<launch>
	<arg name="swarm_num_uav" default="0"/>
	<arg name="swarm_num_ugv" default="1"/>
	<arg name="ugv_id" default="1"/>
	<!-- 是否仿真模式 -->
	<arg name="sim_mode" default="true"/>

	<!-- 启动地面站 -->
	<node pkg="prometheus_swarm_communication" type="cxy_ground_station_sub" name="cxy_ground_station_sub" output="screen" launch-prefix="gnome-terminal --tab --">	
		<param name="swarm_num_ugv" value="$(arg swarm_num_ugv)"/>
	</node>

	<!-- 地面站 - 控制 -->
	<node pkg="prometheus_swarm_communication" type="cxy_ground_station_pub" name="cxy_ground_station_pub" output="screen" launch-prefix="gnome-terminal --tab --">	
		<param name="swarm_num_uav" value="$(arg swarm_num_uav)"/>
		<param name="swarm_num_ugv" value="$(arg swarm_num_ugv)"/>
		<param name="case_flag" value="3"/>
		<param name="manual_goal" value="true"/>
		<param name="ground_station/ugv1_goal_x" value="0.0"/>
		<param name="ground_station/ugv1_goal_y" value="0.0"/>
	</node>

	<!-- 地面站 - start_return_stop -->
	<node pkg="prometheus_swarm_communication" type="start_return_stop" name="start_return_stop" output="screen" launch-prefix="gnome-terminal --tab --">	
	</node>

	<!-- 启动控制终端 -->
	<node pkg="prometheus_ugv_control" type="ugv_terminal_control" name="ugv_terminal_control" output="screen" launch-prefix="gnome-terminal --">
		<param name="ugv_id" value="$(arg ugv_id)" />
	</node>
</launch>

    