<?xml version="1.0" ?>
<model>
    <name>Monocular_down</name>
    <version>1.0</version>
    <sdf version="1.6">Monocular_down.sdf</sdf>
    
    <author>
        <name>Qi Yuhua</name>
        <email>fatmoonqyp@126.com</email>
    </author>

    <description>
        Monocular_down
    </description>
</model>
