<launch>

	<node pkg="tf" type="static_transform_publisher" name="tf_world_map"
		args="0 0 0 0 0 0 base_link fake_ugv_1/lidar_link 100"/>

	<arg name="scan_topic" default="/fake_ugv_1/scan" />
 	<arg name="tf_map_scanmatch_transform_frame_name" default="/scanmatcher_frame"/>
	<arg name="base_frame" default="base_link"/>
	<arg name="odom_frame" default="odom"/>
	<arg name="pub_map_odom_transform" default="false"/>
 	<arg name="scan_subscriber_queue_size" default="5"/>
	<arg name="map_size" default="100"/>
 	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">   
		<!-- Frame names -->
		<param name="map_frame" value="map" />
		<param name="base_frame" value="$(arg base_frame)" />
		<param name="odom_frame" value="$(arg base_frame)" />   
		<!-- Tf use -->
		<param name="use_tf_scan_transformation" value="true"/>
		<param name="use_tf_pose_start_estimate" value="false"/>
		<param name="pub_map_odom_transform" value="$(arg pub_map_odom_transform)"/> 
		<!-- Map size / start point -->
		<param name="map_resolution" value="0.1"/>
		<param name="map_size" value="$(arg map_size)"/>
		<param name="map_start_x" value="0.5"/>
		<param name="map_start_y" value="0.5" />
		<param name="map_multi_res_levels" value="2" />
		<!-- Map update parameters -->
		<param name="update_factor_free" value="0.4"/>
		<param name="update_factor_occupied" value="0.7" />   
		<param name="map_update_distance_thresh" value="0.2"/>
		<param name="map_update_angle_thresh" value="0.9" />
		<param name="laser_z_min_value" value = "-1.0" />
		<param name="laser_z_max_value" value = "1.0" />  
		<!-- Advertising config -->
		<param name="advertise_map_service" value="true"/>   
		<param name="scan_subscriber_queue_size" value="$(arg scan_subscriber_queue_size)"/>
		<param name="scan_topic" value="$(arg scan_topic)"/>
		<param name="tf_map_scanmatch_transform_frame_name" value="$(arg tf_map_scanmatch_transform_frame_name)" />
 	</node>


</launch>