<?xml version="1.0"?>

<model>
  <name>Ambulance</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    An ambulance.
  </description>
</model>
