<launch>
    <node pkg="prometheus_demo" type="find_aruco_marker" name="find_aruco_marker" output="screen" launch-prefix="gnome-terminal \-\-">
        <param name="uav_id" type="int" value="1" />
        <param name="visual_feedback_topic_name" type="string" value="/uav1/prometheus/object_detection/arucos_det" />
    </node>
</launch>