<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.03"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/color_line_following.world"/>
	<arg name="sdf" default="$(find px4)/Tools/sitl_gazebo/models/typhoon_h480/typhoon_h480.sdf"/>
	<arg name="model" default="typhoon_h480"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the color_detection.cpp -->


	<!-- run the line_following.cpp -->
	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">	
		<rosparam command="load" file="$(find prometheus_control)/launch/terminal_control.yaml" />
	</node>
	
	<!-- Get Ground Truth (需要等到gazebo启动后，方可运行该节点)-->
	<node pkg="prometheus_gazebo" type="get_ground_truth.py" name="get_ground_truth" output="screen">
		<param name="uav_name" value="$(arg model)"/>
    </node>	
</launch>

