<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/multi_person.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/amov_models/amov_solo_monocular/amov_solo_monocular.sdf"/>
	<arg name="model" default="amov_solo_monocular"/>
    <include file="$(find prometheus_gazebo)/launch_basic/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

    <!-- run the siam_rpn.py -->
    <node pkg="prometheus_detection" type="siam_rpn.py" name="siamrpn_tracker" output="screen">
        <param name="camera_topic" type="string" value="/prometheus/sensor/monocular_front/image_raw" />
        <param name="camera_info" type="string" value="$(find prometheus_gazebo)/config/camera_config/camera_param_gazebo_monocular.yaml" />
    </node>

	<!-- run the object_tracking.cpp -->
	<node pkg="prometheus_mission" type="object_tracking" name="object_tracking" output="screen" launch-prefix="gnome-terminal --">
		<rosparam command="load" file="$(find prometheus_mission)/object_tracking/object_tracking.yaml" />	
	</node>
</launch>




	

