<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.06"/>
    <arg name="Y" default="0.0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/multi_gate.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_Monocular_front/P300_Monocular_front.sdf"/>
	<arg name="model" default="P300_Monocular_front"/>
    <include file="$(find prometheus_gazebo)/launch/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="Y" value="$(arg Y)"/>
    </include>

	<!-- run the circle_det -->
    <node pkg="prometheus_detection" type="ellipse_det" name="ellipse_det" output="screen">
        <param name="camera_topic" type="string" value="/P300_Monocular_front/Monocular/image_raw" />
        <param name="camera_info" type="string" value="camera_param_gazebo_monocular.yaml" />
    </node>

	<!-- run the circle_crossing.cpp -->
	<node pkg="prometheus_mission" type="circle_crossing" name="circle_crossing" output="screen" launch-prefix="gnome-terminal --">
        <param name="kpx_circle_track" value="0.5" />
        <param name="kpy_circle_track" value="0.5" />
		<param name="kpz_circle_track" value="0.5" />
	</node>	
</launch>