<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.05"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/landing_pad.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_Monocular_down/P300_Monocular_down.sdf"/>
	<arg name="model" default="P300_Monocular_down"/>
    <include file="$(find prometheus_gazebo)/launch/sitl_px4_sender.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the landpad_det.cpp -->
    <node pkg="prometheus_detection" type="landpad_det" name="landpad_det" output="screen">
        <param name="camera_topic" type="string" value="/P300_Monocular_down/Monocular/image_raw" />
        <param name="camera_info" type="string" value="camera_param_gazebo_monocular.yaml" />
    </node>
	
	<!-- run the pad_tracking.cpp -->
	<node pkg="prometheus_mission" type="pad_tracking" name="pad_tracking" output="screen" launch-prefix="gnome-terminal --">
		<param name="arm_height_to_ground" value="0.2" />
		<param name="arm_distance_to_pad" value="0.55" />
		<param name="kpx_land" value="0.35" />
		<param name="kpy_land" value="0.35" />
		<param name="kpz_land" value="0.1" />
		<param name="start_point_x" value="1.0" />
		<param name="start_point_y" value="2.0" />
		<param name="start_point_z" value="4.0" />
	</node>

</launch>

