<launch>
	<!-- 启动编队节点 -->
	<node pkg="prometheus_mission" type="turtlebot_uav_formation" name="turtlebot_uav_formation" output="screen">
	</node>

	<arg name="k_p" default="0.95"/>
	<arg name="k_aij" default="0.1"/>

	<!-- 启动编队节点 -->
	<node pkg="prometheus_control" type="formation_control" name="formation_control_uav1" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="uav_name" value="/uav1"/>
		<param name="neighbour_name1" value="/uav2" />
		<param name="neighbour_name2" value="/uav5"/>
		<param name="k_p" value="$(arg k_p)"/>
		<param name="k_aij" value="$(arg k_aij)"/>
	</node>

	<!-- 启动编队节点 -->
	<node pkg="prometheus_control" type="formation_control" name="formation_control_uav2" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="uav_name" value="/uav2"/>
		<param name="neighbour_name1" value="/uav1" />
		<param name="neighbour_name2" value="/uav3"/>
		<param name="k_p" value="$(arg k_p)"/>
		<param name="k_aij" value="$(arg k_aij)"/>
	</node>

	<!-- 启动编队节点 -->
	<node pkg="prometheus_control" type="formation_control" name="formation_control_uav3" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="uav_name" value="/uav3"/>
		<param name="neighbour_name1" value="/uav2" />
		<param name="neighbour_name2" value="/uav4"/>
		<param name="k_p" value="$(arg k_p)"/>
		<param name="k_aij" value="$(arg k_aij)"/>
	</node>

	<!-- 启动编队节点 -->
	<node pkg="prometheus_control" type="formation_control" name="formation_control_uav4" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="uav_name" value="/uav4"/>
		<param name="neighbour_name1" value="/uav3" />
		<param name="neighbour_name2" value="/uav5"/>
		<param name="k_p" value="$(arg k_p)"/>
		<param name="k_aij" value="$(arg k_aij)"/>
	</node>

	<!-- run the rviz -->
	<arg name="visualization" default="false"/>
	<group if="$(arg visualization)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/rviz_formation.rviz" />
    </group>
</launch>

