<launch>
    <!-- Launch Gazebo Simulation -->
    <arg name="x" default="-3.0"/>
    <arg name="y" default="-0.0"/>
    <arg name="z" default="0"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/002_SYSU/SYSU_obstacle.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/models/P300_hokuyo_2Dlidar/P300_hokuyo_2Dlidar.sdf"/>
	<arg name="model" default="P300_hokuyo_2Dlidar"/>
    <include file="$(find prometheus_gazebo)/launch_custom/002_SYSU/002_sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the laser_to_pointcloud -->
    <node pkg="prometheus_gazebo" type="laser_to_pointcloud.py" name="laser_to_pointcloud" >
    </node>

    <!-- 启动octomap建图 -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />
        <!-- 发布地图的坐标系 -->
        <param name="frame_id" type="string" value="world" />
        <!-- 传感器最大感知范围 (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />
        <!-- 局部点云输入,该话题定义在3Dlidar.sdf中 (PointCloud2) -->
        <remap from="cloud_in" to="/prometheus/sensors/pcl2" />
    </node>

    <!-- 启动全局规划算法 -->
    <arg name="topic_of_global_pcl" default="/octomap_point_cloud_centers"/>
    <node pkg="prometheus_global_planning" name="global_planner_main" type="global_planner_main" output="screen">
        <remap from="/prometheus/planning/global_pcl" to="$(arg topic_of_global_pcl)" />
        <!-- 参数 -->
        <!-- 停止距离 -->
        <param name="planning/safe_distance" value="0.02" type="double"/>
        <!-- 最大搜索步数 -->
        <param name="astar/allocate_num" value="20000" type="int"/>
        <!-- 启发式函数系数 -->
        <param name="astar/lambda_heu" value="2.0" type="double"/>
        <!-- 分辨率 -->
        <param name="astar/resolution_astar" value="0.1" type="double"/>
        <!-- 障碍物膨胀距离 -->
        <param name="astar/inflate" value="0.2" type="double"/>
        <!-- 二维平面规划 -->
        <param name="astar/is_2D" value="1" type="int"/>
        <!-- 飞行高度 -->
        <param name="astar/2D_fly_height" value="0.8" type="double"/>
        <!-- 地图范围 -->
        <param name="map/map_size_x" value="8.0" type="double"/>
        <param name="map/map_size_y" value="8.0" type="double"/>
        <param name="map/map_size_z" value="2.0" type="double"/>
        <param name="map/origin_x" value="-4.0" type="double"/>
        <param name="map/origin_y" value="-4.0" type="double"/>
        <param name="map/origin_z" value="0.0" type="double"/>
        <param name="map/ceil_height_" value="2.0" type="double"/>
        <param name="map/floor_height_" value="0.5" type="double"/>
    </node>

	<!-- 启动规划mission， 激光输入control_yaw_flag设为false，rgbd输入control_yaw_flag设为true -->
	<node pkg="prometheus_mission" type="planning_mission_astar" name="planning_mission_astar" output="screen" launch-prefix="gnome-terminal --">	
		<param name="planning_mission/control_yaw_flag" value="false" type="bool"/>
	</node>

	<!-- 启动rviz,设为false可关闭 -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/launch_custom/001_HTWY/config/rviz_config_astar.rviz" />
    </group>
</launch>

