<launch>
	<!-- 无人机ID -->
	<arg name="uav_id" default="1"/>
    <arg name="sdf" default="$(find prometheus_gazebo)/gazebo_models/uav_models/p450_hokuyo_2Dlidar/p450_hokuyo_2Dlidar.sdf"/>
    <!-- 启动PX4 SITL -->
	<include file="$(find prometheus_gazebo)/launch_basic/sitl_px4_outdoor.launch">
		<arg name="uav_id" value="$(arg uav_id)"/>
		<arg name="sdf" value="$(arg sdf)"/>
		<arg name="model" value="p450"/>
	</include>

	<!-- 启动Gazebo -->
	<!-- Gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="$(find prometheus_gazebo)/gazebo_worlds/planning_worlds/planning_world_1.world"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>
</launch>

