<?xml version="1.0"?>
<model>
  <name>3DR Iris with rplidar lidar</name>
  <version>1.0</version>
  <sdf>iris_3Dlidar.sdf</sdf>

  <author>
   <name>James Goppertr</name>
   <email>james.goppert@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a rplidar.
  </description>
</model>
