<?xml version="1.0"?>
<model>
  <name>uav34</name>
  <version>1.0</version>
  <sdf version='1.5'>uav34.sdf</sdf>

  <author>
   <name>Qi Yuhua</name>
   <email>fatmoonqyp@126.com</email>
  </author>

  <description>
    This is a model of the p450 Quadrotor. The original model has been created by Yuhua Qi.
  </description>
</model>