<launch>
	<arg name="uav1_id" default="1"/>
    <arg name="uav2_id" default="2"/>
    <arg name="uav3_id" default="3"/>

    <!-- 启动三台飞机的模型，需要swarm模块配合 -->

    <!-- uav1 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge_swarm_basic.launch">
        <arg name="uav_id" value="$(arg uav1_id)" />
    </include>

    <!-- uav2 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge_swarm_basic.launch">
        <arg name="uav_id" value="$(arg uav2_id)" />
    </include>

    <!-- uav3 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge_swarm_basic.launch">
        <arg name="uav_id" value="$(arg uav3_id)" />
    </include>

</launch>

