<launch>
	<arg name="uav1_id" default="1"/>
    <arg name="uav2_id" default="2"/>
    <arg name="uav3_id" default="3"/>
    <arg name="uav4_id" default="4"/>

    <!-- uav1 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge.launch">
        <arg name="uav_id" value="$(arg uav1_id)" />
    </include>

    <!-- uav2 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge.launch">
        <arg name="uav_id" value="$(arg uav2_id)" />
    </include>

    <!-- uav3 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge.launch">
        <arg name="uav_id" value="$(arg uav3_id)" />
    </include>

    <!-- uav4 -->
    <include file="$(find prometheus_matlab)/launch/matlab_bridge.launch">
        <arg name="uav_id" value="$(arg uav4_id)" />
    </include>
</launch>

