<launch>
	<arg name="uav_id" default="1"/>
    <arg name="no_rc" default="true"/>

	<!-- 启动Matlab bridge -->
	<node pkg="prometheus_matlab" type="matlab_bridge_main" name="matlab_bridge_$(arg uav_id)" output="screen">	
		<param name="uav_id" value="$(arg uav_id)" />
        <param name="no_rc" value="$(arg no_rc)" />
		<param name="control/quad_mass" value="1.0" />
		<param name="control/hov_percent" value="0.5" />
        <param name="control/tilt_angle_max" value="10.0" />
    </node>	

    <!-- 启动 uav_control_main -->
    <arg name="sim_mode" default="true"/>
    <arg name="init_px4_mode" default="0"/>
    <arg name="only_command_mode" default="true"/>
    <arg name="control/controller_flag" default="0"/>
    <!-- 如果是matlab配置为ATT_CTRL_MODE，则此处要设置为True-->
    <arg name="control/enable_external_control" default="true"/> 
    <arg name="control/Takeoff_height" default="1"/>
    <arg name="control/Disarm_height" default="0.2"/>
    <arg name="control/Land_speed" default="0.2"/>
    <arg name="control/flag_printf" default="true"/>
    <arg name="geo_fence/x_min" default="-100"/>
    <arg name="geo_fence/x_max" default="100"/>
    <arg name="geo_fence/y_min" default="-100"/>
    <arg name="geo_fence/y_max" default="100"/>
    <arg name="geo_fence/z_min" default="-100"/>
    <arg name="geo_fence/z_max" default="100"/>
    <arg name="control/location_source" default="2"/>
	<node pkg="prometheus_uav_control" type="uav_control_main" name="uav_control_main_$(arg uav_id)" output="screen" launch-prefix="gnome-terminal --tab --">
		<!-- 定位数据输入源 0 for vicon， 1 for 激光SLAM, 2 for gazebo ground truth, 3 for T265 -->
		<param name="control/location_source" value="$(arg control/location_source)" />
		<param name="uav_id" value="$(arg uav_id)" />
        <param name="sim_mode" value="$(arg sim_mode)" />
        <param name="init_px4_mode" value="$(arg init_px4_mode)" />
        <param name="only_command_mode" value="$(arg only_command_mode)" />
		<param name="control/controller_flag" value="$(arg control/controller_flag)" />
		<param name="control/enable_external_control" value="$(arg control/enable_external_control)" />
        <param name="control/Takeoff_height" value="$(arg control/Takeoff_height)" />
        <param name="control/Disarm_height" value="$(arg control/Disarm_height)" />
        <param name="control/Land_speed" value="$(arg control/Land_speed)" />
        <param name="control/flag_printf" value="$(arg control/flag_printf)" />
        <param name="geo_fence/x_min" value="$(arg geo_fence/x_min)" />
        <param name="geo_fence/x_max" value="$(arg geo_fence/x_max)" />
        <param name="geo_fence/y_min" value="$(arg geo_fence/y_min)" />
        <param name="geo_fence/y_max" value="$(arg geo_fence/y_max)" />
        <param name="geo_fence/z_min" value="$(arg geo_fence/z_min)" />
        <param name="geo_fence/z_max" value="$(arg geo_fence/z_max)" />
	</node>
</launch>

