<launch>
	<!-- run the ground_station.cpp -->
	<node pkg="prometheus_ego" type="ground_station" name="ground_station" output="screen" launch-prefix="gnome-terminal --tab --">	
	</node>

	<!-- run the terminal_control.cpp -->
	<node pkg="prometheus_ego" type="px4_ego_terminal_control" name="px4_ego_terminal_control" output="screen" launch-prefix="gnome-terminal --">	
	</node>	
</launch>

