<?xml version="1.0"?>
<model>
  <name>3DR Iris with irlock_camera</name>
  <version>1.0</version>
  <sdf>iris_irlock_camera.sdf</sdf>

  <author>
   <name>bingobin</name>
   <email>bingobin.lw@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a irlock.
  </description>
</model>
