<launch>  
	<!-- Gazebo configs -->
    <arg name="gazebo_enable" default="true"/>
	<arg name="world" default="$(find prometheus_gazebo)/gazebo_worlds/planning_worlds/planning_easy.world"/>
    <!-- 启动Gazebo -->
    <group if="$(arg gazebo_enable)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)"/>
			<!-- 设置为false，使用系统时间 -->
			<arg name="use_sim_time" value="false"/>
			<arg name="gui" value="true"/>
        </include>
    </group>

    <!-- Rviz config -->
    <arg name="rviz_enable" default="true"/>
    <arg name="rivz_config" default="$(find prometheus_gazebo)/launch_uav_with_sensor/visual_mapping.rviz"/>
	<!-- 启动Rviz-->
	<group if="$(arg rviz_enable)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rivz_config)"/>
    </group>

    <!--无人机编号-->
    <arg name="uav1_id" default="1"/>
	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="0.0"/>
    <arg name="uav1_init_y" default="0.0"/>
    <arg name="uav1_init_yaw" default="0.0"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/gazebo_models/uav_models/p450_D435i/p450_D435i.sdf"/>
	
	<!-- 1号无人机 -->
	<include file="$(find prometheus_gazebo)/launch_basic/sitl_px4_outdoor.launch">
		<arg name="uav_id" value="$(arg uav1_id)"/>
		<arg name="sdf" value="$(arg sdf)"/>
		<arg name="model" value="p450_uav$(arg uav1_id)"/>
		<arg name="uav_init_x" value="$(arg uav1_init_x)"/>
		<arg name="uav_init_y" value="$(arg uav1_init_y)"/>
		<arg name="uav_init_z" value="0.15"/>
		<arg name="uav_init_yaw" value="$(arg uav1_init_yaw)"/>
	</include>

	<!-- TF for world and map-->
	<node pkg="tf" type="static_transform_publisher" name="tf_camera_d435i"
          	args="0 0 0 0 0 0 /uav1/camera_link /d435i_link 100"/>
</launch>
