<?xml version="1.0"?>

<model>
  <name>2Dlidar</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>bingo</name>
    <email>bingobin.lw@gmail.com</email>
  </author>

  <description>
    2D	lidar for amov
  </description>
</model>

<!-- vim: set noet fenc= ff=unix sts=0 sw=2 ts=2 : -->
