<launch>
    <arg name="max_vel" value="0.5" />
    <arg name="max_acc" value="0.5" />
    <arg name="dynamic" value="0" />

        <!-- trajectory server -->
    <node pkg="prometheus_global_planning" name="global_planner_main" type="global_planner_main" output="screen">
        <!--<remap from="/rtabmap/cloud_map" to="/planning/global_point_cloud"/>-->
        <!-- <remap from="/position_cmd" to="planning/pos_cmd"/>  -->
        <!-- <param name="global_planning/is_simulation" value="1" type="int"/> -->
        <param name="astar/allocate_num" value="10000" type="int"/>
        <param name="astar/lambda_heu" value="2.0" type="double"/>
        <param name="astar/resolution_astar" value="0.1" type="double"/>
        <param name="astar/inflate" value="0.2" type="double"/>
        <param name="map/map_size_x" value="30.0" type="double"/>
        <param name="map/map_size_y" value="30.0" type="double"/>
        <param name="map/map_size_z" value="5.0" type="double"/>
        <param name="map/origin_x" value="-15.0" type="double"/>
        <param name="map/origin_y" value="-15.0" type="double"/>
        <param name="map/origin_z" value="0.0" type="double"/>
        <param name="map/ceil_height_" value="5.0" type="double"/>
        <param name="map/floor_height_" value="0.01" type="double"/>
    </node>
        

</launch>