<launch>
<!-- Launch file for Livox MID360 LiDAR -->
	<arg name = "uav_id" default = "1"/>
	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_lio)/config/mid360_airsim.yaml" />
	
	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
	<!-- 设置雷达过滤范围 -->
	<param name="filter_range_x" type="double" value="10" />
	<param name="filter_range_y" type="double" value="10" />
	<param name="filter_range_z" type="double" value="0.3" />
	<!-- 修改雷达输出话题 -->
	<!--全局点云-->
	<remap from="/cloud_registered" to="/uav$(arg uav_id)/mid360_world_point"/>
	<!--局部点云-->
	<remap from="/uav1/cloud_mid360_body" to="/uav$(arg uav_id)/mid360_lidar_point"/>
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 
    	
    <node pkg="fast_lio" type="fliter_points" name="fliter_points" output="screen" /> 
    
	<node pkg="tf" type="static_transform_publisher" name="fastlio_world" args="0.13 0 0.23 0 0 0 world camera_init 100"/>
</launch>
