<?xml version="1.0"?>
<model>
  <name>Typhoon H480 RS</name>
  <version>1.0</version>
  <sdf version="1.5">typhoon_h480.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 with mounted Intel Realsense module
  </description>
</model>
