<?xml version="1.0" ?>
<model>
    <name>Intel RealSense D435i</name>
    <version>1.0</version>
    <sdf version="1.6">D435i.sdf</sdf>
    
    <author>
        <name>Qi Yuhua</name>
        <email>fatmoonqyp@126.com</email>
    </author>

    <description>
        An Intel Real Sense Camera model
    </description>
</model>
