<?xml version="1.0"?>

<model>
  <name>future_aircraft_target_static</name>
  <version>1.0</version>
  <sdf version='1.6'>future_aircraft_target_static.sdf</sdf>

  <author>
    <name>Yuhua Qi</name>
    <email>fatmoonqyp@126.com</email>
  </author>

  <description>
    The landing pad for landing task.
  </description>
</model>
