<launch>
	<!-- 无人机ID -->
	<arg name="uav1_id" default="1"/>
	
	<!-- 无人机初始位置 -->
	<arg name="uav1_init_x" default="0.0"/>
    <arg name="uav1_init_y" default="0.0"/>

    <!-- map_generator -->
    <include file="$(find prometheus_simulator_utils)/launch/map_generator.launch">
    </include>

    <!-- 1号飞机 FAKE ODOM -->
	<!-- 参数 -->
	<arg name="swarm_num_uav" default="1"/>
    <arg name="swarm_num_ugv" default="0"/>
    <!-- 启动 fake_odom_node -->
	<node pkg="prometheus_simulator_utils" type="fake_odom_node" name="fake_odom_node" output="screen">
		<param name="fake_odom/swarm_num_uav" value="$(arg swarm_num_uav)"/>
		<param name="fake_odom/swarm_num_ugv" value="$(arg swarm_num_ugv)"/>
		<param name="fake_odom/manual_init_pos" value="true"/>
		<param name="fake_odom/uav1_init_x" value="-10.0"/>
		<param name="fake_odom/uav1_init_y" value="0.0"/>
		<param name="fake_odom/uav1_init_z" value="0.0"/>
		<param name="fake_odom/uav1_init_yaw" value="0.0"/>
		<param name="fake_odom/pub_gazebo_model_state" value="true"/>
	</node>

	<!-- uav_control_main -->
    <include file="$(find prometheus_uav_control)/launch/uav_control_main_fake_odom.launch">
    </include>
</launch>


