<?xml version="1.0"?>

<model>
  <name>Noisy IMU</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Loren</name>
   <email>xjlongfeiyu@outlook.com</email>
  </author>

  <description>
    A Noisy IMU Model form https://classic.gazebosim.org/tutorials?tut=sensor_noise&cat=sensors#IMUnoise 
  </description>
</model>