<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

    <xacro:macro name="depth_camera" params="prefix:=camera">
        <link name="${prefix}_link">
            <origin xyz="0 0 0" rpy="0 0 1.57"/>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 1.57"/>
                <geometry>
                    <mesh filename="package://r200_simulation/models/meshes/kinect.dae" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="0.07 0.3 0.09"/>
                </geometry>
            </collision>
        </link>

        <joint name="${prefix}_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
            <parent link="${prefix}_link"/>
            <child link="${prefix}_frame_optical"/>
        </joint>

        <link name="${prefix}_frame_optical"/>
    
        <gazebo reference="${prefix}_link">
            <sensor type="depth" name="${prefix}">
                <always_on>true</always_on>
                <update_rate>20.0</update_rate>
            	<camera>
                	<horizontal_fov>${60.0*3.14/180}</horizontal_fov>
                	<image>
                    	<width>640</width>
                    	<height>480</height>
                    	<format>R8G8B8</format>
                	</image>
                	<clip>
                    	<near>0.05</near>
                    	<far>16.0</far>
                	</clip>
            	</camera>
            	<plugin name="kinect_${prefix}_controller" filename="libgazebo_ros_openni_kinect.so">
        			<alwaysOn>true</alwaysOn>
        			<updateRate>10.0</updateRate>
        			<cameraName>${prefix}</cameraName>
        			<imageTopicName>rgb/image_raw</imageTopicName>
        			<depthImageTopicName>depth/image_raw</depthImageTopicName>
        			<pointCloudTopicName>depth/points</pointCloudTopicName>
        			<cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        			<depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        			<frameName>camera_frame_optical</frameName>
        			<baseline>0.1</baseline>
        			<distortionK1>0.0</distortionK1>
        			<distortionK2>0.0</distortionK2>
        			<distortionK3>0.0</distortionK3>
        			<distortionT1>0.0</distortionT1>
    				<distortionT2>0.0</distortionT2>
        			<pointCloudCutoff>0.4</pointCloudCutoff>
    			</plugin>
    		</sensor>
  		</gazebo>
	</xacro:macro>

</robot>
